body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-470px;
  width:361px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u13520_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:737px;
}
#u13520 {
  position:absolute;
  left:470px;
  top:46px;
  width:361px;
  height:737px;
}
#u13521 {
  position:absolute;
  left:2px;
  top:360px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:560px;
}
#u13522 {
  position:absolute;
  left:492px;
  top:136px;
  width:316px;
  height:560px;
}
#u13523 {
  position:absolute;
  left:2px;
  top:272px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13524_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:50px;
}
#u13524 {
  position:absolute;
  left:492px;
  top:155px;
  width:316px;
  height:50px;
  color:#666666;
}
#u13525 {
  position:absolute;
  left:2px;
  top:17px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13526_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u13526 {
  position:absolute;
  left:508px;
  top:170px;
  width:65px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u13527 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u13528_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:27px;
}
#u13528 {
  position:absolute;
  left:620px;
  top:166px;
  width:61px;
  height:27px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u13529 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u13530 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13531_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:464px;
}
#u13531 {
  position:absolute;
  left:808px;
  top:155px;
  width:23px;
  height:464px;
}
#u13532 {
  position:absolute;
  left:2px;
  top:224px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13533_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:80px;
}
#u13533 {
  position:absolute;
  left:808px;
  top:619px;
  width:23px;
  height:80px;
}
#u13534 {
  position:absolute;
  left:2px;
  top:32px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13535_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:493px;
}
#u13535 {
  position:absolute;
  left:492px;
  top:205px;
  width:316px;
  height:493px;
}
#u13536 {
  position:absolute;
  left:2px;
  top:238px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13537_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:152px;
}
#u13537 {
  position:absolute;
  left:608px;
  top:258px;
  width:85px;
  height:152px;
  opacity:0.5;
}
#u13538 {
  position:absolute;
  left:2px;
  top:68px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13539_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:24px;
}
#u13539 {
  position:absolute;
  left:553px;
  top:440px;
  width:194px;
  height:24px;
  font-size:18px;
  text-align:center;
}
#u13540 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  white-space:nowrap;
}
#u13541_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:17px;
}
#u13541 {
  position:absolute;
  left:530px;
  top:553px;
  width:241px;
  height:17px;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u13542 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u13543_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:50px;
}
#u13543 {
  position:absolute;
  left:530px;
  top:491px;
  width:241px;
  height:50px;
  font-size:16px;
  color:#FFFFFF;
}
#u13544 {
  position:absolute;
  left:2px;
  top:14px;
  width:237px;
  word-wrap:break-word;
}
#u13543_ann {
  position:absolute;
  left:764px;
  top:487px;
  width:1px;
  height:1px;
}
#u13545_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u13545 {
  position:absolute;
  left:670px;
  top:360px;
  width:50px;
  height:50px;
}
#u13546 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13547_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:543px;
}
#u13547 {
  position:absolute;
  left:492px;
  top:155px;
  width:316px;
  height:543px;
}
#u13548 {
  position:absolute;
  left:2px;
  top:264px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13549 {
  position:absolute;
  left:520px;
  top:347px;
  visibility:hidden;
}
#u13549_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:262px;
  height:159px;
  background-image:none;
}
#u13549_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13550_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:110px;
}
#u13550 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:110px;
}
#u13551 {
  position:absolute;
  left:2px;
  top:47px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13552_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u13552 {
  position:absolute;
  left:88px;
  top:15px;
  width:85px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u13553 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u13554_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
}
#u13554 {
  position:absolute;
  left:0px;
  top:109px;
  width:130px;
  height:50px;
  font-size:18px;
}
#u13555 {
  position:absolute;
  left:2px;
  top:13px;
  width:126px;
  word-wrap:break-word;
}
#u13556_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:50px;
}
#u13556 {
  position:absolute;
  left:129px;
  top:109px;
  width:133px;
  height:50px;
  font-size:18px;
}
#u13557 {
  position:absolute;
  left:2px;
  top:13px;
  width:129px;
  word-wrap:break-word;
}
#u13558 {
  position:absolute;
  left:20px;
  top:50px;
  width:220px;
  height:40px;
}
#u13558_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13558_input {
  font-family:'应用字体';
  color:#000000;
}
#u13558_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:226px;
  height:46px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u13559 {
  position:absolute;
  left:590px;
  top:348px;
  visibility:hidden;
}
#u13559_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  background-image:none;
}
#u13559_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13560_img {
  position:absolute;
  left:-2px;
  top:-1px;
  width:124px;
  height:124px;
}
#u13560 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u13561 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13562_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u13562 {
  position:absolute;
  left:20px;
  top:79px;
  width:81px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u13563 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u13564_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u13564 {
  position:absolute;
  left:35px;
  top:19px;
  width:50px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u13565 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
