body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-470px;
  width:759px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:737px;
}
#u2280 {
  position:absolute;
  left:470px;
  top:46px;
  width:361px;
  height:737px;
}
#u2281 {
  position:absolute;
  left:2px;
  top:360px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:560px;
}
#u2282 {
  position:absolute;
  left:493px;
  top:136px;
  width:315px;
  height:560px;
}
#u2283 {
  position:absolute;
  left:2px;
  top:272px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2284 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:464px;
}
#u2285 {
  position:absolute;
  left:808px;
  top:155px;
  width:23px;
  height:464px;
}
#u2286 {
  position:absolute;
  left:2px;
  top:224px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:77px;
}
#u2287 {
  position:absolute;
  left:808px;
  top:619px;
  width:23px;
  height:77px;
}
#u2288 {
  position:absolute;
  left:2px;
  top:30px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:493px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2289 {
  position:absolute;
  left:493px;
  top:205px;
  width:315px;
  height:493px;
}
#u2290 {
  position:absolute;
  left:2px;
  top:238px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#1E1E1E;
}
#u2291 {
  position:absolute;
  left:491px;
  top:155px;
  width:318px;
  height:50px;
  font-size:20px;
  color:#1E1E1E;
}
#u2292 {
  position:absolute;
  left:2px;
  top:17px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2293 {
  position:absolute;
  left:526px;
  top:163px;
  width:224px;
  height:32px;
}
#u2294 {
  position:absolute;
  left:2px;
  top:8px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u2295 {
  position:absolute;
  left:533px;
  top:169px;
  width:19px;
  height:19px;
  opacity:0.5;
}
#u2296 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u2297 {
  position:absolute;
  left:763px;
  top:168px;
  width:33px;
  height:21px;
  font-size:16px;
  color:#666666;
}
#u2298 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2299 {
  position:absolute;
  left:492px;
  top:205px;
}
#u2299_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:315px;
  height:60px;
  background-image:none;
}
#u2299_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2300 {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:60px;
}
#u2300_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:60px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2300.mouseDown {
}
#u2301 {
  position:absolute;
  left:2px;
  top:22px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:26px;
}
#u2302 {
  position:absolute;
  left:115px;
  top:17px;
  width:85px;
  height:26px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:26px;
}
#u2303 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u2304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2304 {
  position:absolute;
  left:60px;
  top:10px;
  width:40px;
  height:40px;
}
#u2305 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2306 {
  position:absolute;
  left:265px;
  top:22px;
  width:43px;
  height:16px;
  color:#999999;
}
#u2307 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2308 {
  position:absolute;
  left:15px;
  top:15px;
  width:30px;
  height:30px;
}
#u2309 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:213px;
}
#u2310 {
  position:absolute;
  left:492px;
  top:485px;
  width:316px;
  height:213px;
}
#u2311 {
  position:absolute;
  left:2px;
  top:98px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2312 {
  position:absolute;
  left:556px;
  top:166px;
  width:176px;
  height:25px;
}
#u2312_input {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2312_input {
  font-family:'应用字体';
}
#u2313 {
  position:absolute;
  left:841px;
  top:313px;
  width:315px;
  height:60px;
  overflow:hidden;
}
#u2313_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2313_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2314 {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:60px;
}
#u2314_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:60px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2314.mouseDown {
}
#u2315 {
  position:absolute;
  left:2px;
  top:22px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:26px;
}
#u2316 {
  position:absolute;
  left:115px;
  top:17px;
  width:144px;
  height:26px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:26px;
}
#u2317 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  word-wrap:break-word;
}
#u2318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2318 {
  position:absolute;
  left:265px;
  top:22px;
  width:43px;
  height:16px;
  color:#999999;
}
#u2319 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2320 {
  position:absolute;
  left:60px;
  top:10px;
  width:40px;
  height:40px;
}
#u2321 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2322 {
  position:absolute;
  left:15px;
  top:15px;
  width:30px;
  height:30px;
}
#u2323 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#000000;
  line-height:16px;
}
#u2324 {
  position:absolute;
  left:855px;
  top:205px;
  width:133px;
  height:64px;
  font-size:13px;
  color:#000000;
  line-height:16px;
}
#u2325 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u2326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u2326 {
  position:absolute;
  left:497px;
  top:168px;
  width:22px;
  height:22px;
}
#u2327 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2328 {
  position:absolute;
  left:841px;
  top:383px;
}
#u2328_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:315px;
  height:60px;
  background-image:none;
}
#u2328_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2329 {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:60px;
}
#u2329_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:60px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2329.mouseDown {
}
#u2330 {
  position:absolute;
  left:2px;
  top:22px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2331_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:26px;
}
#u2331 {
  position:absolute;
  left:115px;
  top:17px;
  width:85px;
  height:26px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:26px;
}
#u2332 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u2333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2333 {
  position:absolute;
  left:60px;
  top:10px;
  width:40px;
  height:40px;
}
#u2334 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2335_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2335 {
  position:absolute;
  left:265px;
  top:22px;
  width:43px;
  height:16px;
  color:#999999;
}
#u2336 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2337 {
  position:absolute;
  left:15px;
  top:15px;
  width:30px;
  height:30px;
}
#u2338 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2339 {
  position:absolute;
  left:841px;
  top:453px;
}
#u2339_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:315px;
  height:60px;
  background-image:none;
}
#u2339_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2340 {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:60px;
}
#u2340_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:60px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2340.mouseDown {
}
#u2341 {
  position:absolute;
  left:2px;
  top:22px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:26px;
}
#u2342 {
  position:absolute;
  left:115px;
  top:17px;
  width:85px;
  height:26px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:26px;
}
#u2343 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u2344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2344 {
  position:absolute;
  left:60px;
  top:10px;
  width:40px;
  height:40px;
}
#u2345 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2346 {
  position:absolute;
  left:15px;
  top:15px;
  width:30px;
  height:30px;
}
#u2347 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2348 {
  position:absolute;
  left:1186px;
  top:335px;
  width:43px;
  height:16px;
  color:#999999;
}
#u2349 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2350 {
  position:absolute;
  left:1186px;
  top:405px;
  width:43px;
  height:16px;
  color:#999999;
}
#u2351 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2352 {
  position:absolute;
  left:1186px;
  top:475px;
  width:43px;
  height:16px;
  color:#999999;
}
#u2353 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2354 {
  position:absolute;
  left:492px;
  top:425px;
}
#u2354_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:316px;
  height:60px;
  background-image:none;
}
#u2354_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2355_div {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:0px -1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px -1px 2px rgba(0, 0, 0, 0.2);
  box-shadow:0px -1px 2px rgba(0, 0, 0, 0.2);
}
#u2355 {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:60px;
}
#u2356 {
  position:absolute;
  left:2px;
  top:22px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2357_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:37px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u2357 {
  position:absolute;
  left:245px;
  top:12px;
  width:60px;
  height:37px;
  color:#666666;
}
#u2358 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u2359_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2359 {
  position:absolute;
  left:12px;
  top:0px;
  width:214px;
  height:60px;
}
#u2360 {
  position:absolute;
  left:0px;
  top:22px;
  width:214px;
  word-wrap:break-word;
}
