body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-470px;
  width:361px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:737px;
}
#u4220 {
  position:absolute;
  left:470px;
  top:46px;
  width:361px;
  height:737px;
}
#u4221 {
  position:absolute;
  left:2px;
  top:360px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:560px;
}
#u4222 {
  position:absolute;
  left:492px;
  top:136px;
  width:316px;
  height:560px;
}
#u4223 {
  position:absolute;
  left:2px;
  top:272px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:87px;
}
#u4224 {
  position:absolute;
  left:470px;
  top:696px;
  width:361px;
  height:87px;
}
#u4225 {
  position:absolute;
  left:2px;
  top:36px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:27px;
}
#u4226 {
  position:absolute;
  left:629px;
  top:166px;
  width:41px;
  height:27px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u4227 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u4228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:50px;
}
#u4228 {
  position:absolute;
  left:492px;
  top:155px;
  width:316px;
  height:50px;
  color:#666666;
}
#u4229 {
  position:absolute;
  left:2px;
  top:17px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
}
#u4230 {
  position:absolute;
  left:508px;
  top:170px;
  width:49px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u4231 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:27px;
}
#u4232 {
  position:absolute;
  left:630px;
  top:166px;
  width:41px;
  height:27px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u4233 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u4234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u4234 {
  position:absolute;
  left:720px;
  top:170px;
  width:75px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u4235 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u4236 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:464px;
}
#u4237 {
  position:absolute;
  left:808px;
  top:155px;
  width:23px;
  height:464px;
}
#u4238 {
  position:absolute;
  left:2px;
  top:224px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:80px;
}
#u4239 {
  position:absolute;
  left:808px;
  top:619px;
  width:23px;
  height:80px;
}
#u4240 {
  position:absolute;
  left:2px;
  top:32px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:494px;
}
#u4241 {
  position:absolute;
  left:492px;
  top:205px;
  width:316px;
  height:494px;
}
#u4241_img.mouseDown {
}
#u4241.mouseDown {
}
#u4242 {
  position:absolute;
  left:2px;
  top:239px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:60px;
}
#u4243 {
  position:absolute;
  left:492px;
  top:518px;
  width:315px;
  height:60px;
}
#u4243_img.mouseDown {
}
#u4243.mouseDown {
}
#u4244 {
  position:absolute;
  left:2px;
  top:22px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:26px;
}
#u4245 {
  position:absolute;
  left:564px;
  top:525px;
  width:98px;
  height:26px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:26px;
}
#u4246 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u4247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u4247 {
  position:absolute;
  left:509px;
  top:527px;
  width:42px;
  height:42px;
}
#u4248 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:60px;
}
#u4249 {
  position:absolute;
  left:492px;
  top:338px;
  width:315px;
  height:60px;
}
#u4249_img.mouseDown {
}
#u4249.mouseDown {
}
#u4250 {
  position:absolute;
  left:2px;
  top:22px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:26px;
}
#u4251 {
  position:absolute;
  left:564px;
  top:345px;
  width:118px;
  height:26px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:26px;
}
#u4252 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u4253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u4253 {
  position:absolute;
  left:509px;
  top:347px;
  width:42px;
  height:42px;
}
#u4254 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:2px;
}
#u4255 {
  position:absolute;
  left:492px;
  top:518px;
  width:315px;
  height:1px;
}
#u4256 {
  position:absolute;
  left:2px;
  top:-8px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
}
#u4257 {
  position:absolute;
  left:564px;
  top:554px;
  width:31px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u4258 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u4259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
}
#u4259 {
  position:absolute;
  left:564px;
  top:371px;
  width:31px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u4260 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u4261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:60px;
}
#u4261 {
  position:absolute;
  left:492px;
  top:398px;
  width:315px;
  height:60px;
}
#u4261_img.mouseDown {
}
#u4261.mouseDown {
}
#u4262 {
  position:absolute;
  left:2px;
  top:22px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:26px;
}
#u4263 {
  position:absolute;
  left:564px;
  top:404px;
  width:128px;
  height:26px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:26px;
}
#u4264 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u4265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u4265 {
  position:absolute;
  left:509px;
  top:407px;
  width:42px;
  height:42px;
}
#u4266 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:60px;
}
#u4267 {
  position:absolute;
  left:492px;
  top:458px;
  width:315px;
  height:60px;
}
#u4267_img.mouseDown {
}
#u4267.mouseDown {
}
#u4268 {
  position:absolute;
  left:2px;
  top:22px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:26px;
}
#u4269 {
  position:absolute;
  left:564px;
  top:465px;
  width:228px;
  height:26px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:26px;
}
#u4270 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  word-wrap:break-word;
}
#u4271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u4271 {
  position:absolute;
  left:509px;
  top:467px;
  width:42px;
  height:42px;
}
#u4272 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:2px;
}
#u4273 {
  position:absolute;
  left:492px;
  top:457px;
  width:315px;
  height:1px;
}
#u4274 {
  position:absolute;
  left:2px;
  top:-8px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
}
#u4275 {
  position:absolute;
  left:564px;
  top:431px;
  width:31px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u4276 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u4277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:17px;
}
#u4277 {
  position:absolute;
  left:564px;
  top:493px;
  width:24px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u4278 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u4279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:2px;
}
#u4279 {
  position:absolute;
  left:492px;
  top:398px;
  width:315px;
  height:1px;
}
#u4280 {
  position:absolute;
  left:2px;
  top:-8px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u4281 {
  position:absolute;
  left:512px;
  top:350px;
  width:18px;
  height:18px;
}
#u4282 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u4283 {
  position:absolute;
  left:530px;
  top:350px;
  width:18px;
  height:18px;
}
#u4284 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u4285 {
  position:absolute;
  left:512px;
  top:368px;
  width:18px;
  height:18px;
}
#u4286 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u4287 {
  position:absolute;
  left:530px;
  top:368px;
  width:18px;
  height:18px;
}
#u4288 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:60px;
}
#u4289 {
  position:absolute;
  left:492px;
  top:578px;
  width:315px;
  height:60px;
}
#u4289_img.mouseDown {
}
#u4289.mouseDown {
}
#u4290 {
  position:absolute;
  left:2px;
  top:22px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:26px;
}
#u4291 {
  position:absolute;
  left:564px;
  top:585px;
  width:118px;
  height:26px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:26px;
}
#u4292 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u4293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u4293 {
  position:absolute;
  left:509px;
  top:587px;
  width:42px;
  height:42px;
}
#u4294 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
}
#u4295 {
  position:absolute;
  left:564px;
  top:611px;
  width:31px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u4296 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u4297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u4297 {
  position:absolute;
  left:512px;
  top:590px;
  width:18px;
  height:18px;
}
#u4298 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u4299 {
  position:absolute;
  left:530px;
  top:590px;
  width:18px;
  height:18px;
}
#u4300 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u4301 {
  position:absolute;
  left:512px;
  top:608px;
  width:18px;
  height:18px;
}
#u4302 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u4303 {
  position:absolute;
  left:530px;
  top:608px;
  width:18px;
  height:18px;
}
#u4304 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:2px;
}
#u4305 {
  position:absolute;
  left:492px;
  top:578px;
  width:315px;
  height:1px;
}
#u4306 {
  position:absolute;
  left:2px;
  top:-8px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u4307 {
  position:absolute;
  left:530px;
  top:410px;
  width:18px;
  height:18px;
}
#u4308 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u4309 {
  position:absolute;
  left:512px;
  top:428px;
  width:18px;
  height:18px;
}
#u4310 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u4311 {
  position:absolute;
  left:530px;
  top:428px;
  width:18px;
  height:18px;
}
#u4312 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u4313 {
  position:absolute;
  left:512px;
  top:410px;
  width:18px;
  height:18px;
}
#u4314 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u4315 {
  position:absolute;
  left:512px;
  top:470px;
  width:18px;
  height:18px;
}
#u4316 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u4317 {
  position:absolute;
  left:530px;
  top:470px;
  width:18px;
  height:18px;
}
#u4318 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u4319 {
  position:absolute;
  left:512px;
  top:488px;
  width:18px;
  height:18px;
}
#u4320 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u4321 {
  position:absolute;
  left:530px;
  top:488px;
  width:18px;
  height:18px;
}
#u4322 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u4323 {
  position:absolute;
  left:530px;
  top:530px;
  width:18px;
  height:18px;
}
#u4324 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u4325 {
  position:absolute;
  left:512px;
  top:548px;
  width:18px;
  height:18px;
}
#u4326 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u4327 {
  position:absolute;
  left:530px;
  top:548px;
  width:18px;
  height:18px;
}
#u4328 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u4329 {
  position:absolute;
  left:512px;
  top:530px;
  width:18px;
  height:18px;
}
#u4330 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:60px;
}
#u4331 {
  position:absolute;
  left:492px;
  top:278px;
  width:316px;
  height:60px;
}
#u4331_img.mouseDown {
}
#u4331.mouseDown {
}
#u4332 {
  position:absolute;
  left:2px;
  top:22px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:28px;
}
#u4333 {
  position:absolute;
  left:564px;
  top:298px;
  width:197px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:24px;
}
#u4334 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  word-wrap:break-word;
}
#u4335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u4335 {
  position:absolute;
  left:737px;
  top:292px;
  width:60px;
  height:20px;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:20px;
}
#u4336 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u4337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u4337 {
  position:absolute;
  left:510px;
  top:289px;
  width:42px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4338 {
  position:absolute;
  left:2px;
  top:10px;
  width:38px;
  word-wrap:break-word;
}
#u4339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
}
#u4339 {
  position:absolute;
  left:617px;
  top:300px;
  width:37px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u4340 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u4341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:60px;
}
#u4341 {
  position:absolute;
  left:492px;
  top:219px;
  width:316px;
  height:60px;
}
#u4341_img.mouseDown {
}
#u4341.mouseDown {
}
#u4342 {
  position:absolute;
  left:2px;
  top:22px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:27px;
}
#u4343 {
  position:absolute;
  left:564px;
  top:236px;
  width:222px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:24px;
}
#u4344 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u4345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u4345 {
  position:absolute;
  left:737px;
  top:238px;
  width:60px;
  height:20px;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:20px;
}
#u4346 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u4347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u4347 {
  position:absolute;
  left:510px;
  top:229px;
  width:42px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4348 {
  position:absolute;
  left:2px;
  top:10px;
  width:38px;
  word-wrap:break-word;
}
#u4349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
}
#u4349 {
  position:absolute;
  left:653px;
  top:238px;
  width:52px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u4350 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u4351 {
  position:absolute;
  left:492px;
  top:219px;
  width:316px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4352 {
  position:absolute;
  left:492px;
  top:278px;
  width:316px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
