body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-470px;
  width:361px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:737px;
}
#u4185 {
  position:absolute;
  left:470px;
  top:46px;
  width:361px;
  height:737px;
}
#u4186 {
  position:absolute;
  left:2px;
  top:360px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:560px;
}
#u4187 {
  position:absolute;
  left:492px;
  top:136px;
  width:316px;
  height:560px;
}
#u4188 {
  position:absolute;
  left:2px;
  top:272px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:87px;
}
#u4189 {
  position:absolute;
  left:470px;
  top:696px;
  width:361px;
  height:87px;
}
#u4190 {
  position:absolute;
  left:2px;
  top:36px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:27px;
}
#u4191 {
  position:absolute;
  left:629px;
  top:166px;
  width:41px;
  height:27px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u4192 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u4193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:50px;
}
#u4193 {
  position:absolute;
  left:492px;
  top:155px;
  width:316px;
  height:50px;
  color:#666666;
}
#u4194 {
  position:absolute;
  left:2px;
  top:17px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
}
#u4195 {
  position:absolute;
  left:610px;
  top:166px;
  width:81px;
  height:16px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u4196 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  visibility:hidden;
  white-space:nowrap;
}
#u4197 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:464px;
}
#u4198 {
  position:absolute;
  left:808px;
  top:155px;
  width:23px;
  height:464px;
}
#u4199 {
  position:absolute;
  left:2px;
  top:224px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:80px;
}
#u4200 {
  position:absolute;
  left:808px;
  top:619px;
  width:23px;
  height:80px;
}
#u4201 {
  position:absolute;
  left:2px;
  top:32px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:493px;
}
#u4202 {
  position:absolute;
  left:492px;
  top:205px;
  width:316px;
  height:493px;
}
#u4203 {
  position:absolute;
  left:2px;
  top:238px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
}
#u4204 {
  position:absolute;
  left:610px;
  top:166px;
  width:81px;
  height:27px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u4205 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u4206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u4206 {
  position:absolute;
  left:610px;
  top:290px;
  width:75px;
  height:75px;
}
#u4207 {
  position:absolute;
  left:2px;
  top:30px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:24px;
}
#u4208 {
  position:absolute;
  left:604px;
  top:390px;
  width:91px;
  height:24px;
  font-size:18px;
  text-align:center;
}
#u4209 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u4210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:20px;
}
#u4210 {
  position:absolute;
  left:551px;
  top:424px;
  width:197px;
  height:20px;
  color:#999999;
  text-align:center;
}
#u4211 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u4212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u4212 {
  position:absolute;
  left:548px;
  top:465px;
  width:200px;
  height:50px;
  font-size:16px;
  color:#FFFFFF;
}
#u4213 {
  position:absolute;
  left:2px;
  top:14px;
  width:196px;
  word-wrap:break-word;
}
#u4214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:20px;
}
#u4214 {
  position:absolute;
  left:592px;
  top:260px;
  width:110px;
  height:20px;
}
#u4215 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u4216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:24px;
}
#u4216 {
  position:absolute;
  left:558px;
  top:230px;
  width:181px;
  height:24px;
  font-size:18px;
}
#u4217 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u4216_ann {
  position:absolute;
  left:732px;
  top:226px;
  width:1px;
  height:1px;
}
#u4218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u4218 {
  position:absolute;
  left:504px;
  top:169px;
  width:33px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u4219 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
