body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-165px;
  width:964px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1681 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:142px;
  width:964px;
  height:132px;
}
#u1682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:34px;
}
#u1682 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:34px;
  font-size:16px;
}
#u1682_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:148px;
  word-wrap:break-word;
}
#u1683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:34px;
}
#u1683 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:0px;
  width:152px;
  height:34px;
  font-size:16px;
}
#u1683_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:148px;
  word-wrap:break-word;
}
#u1684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:34px;
}
#u1684 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:0px;
  width:152px;
  height:34px;
  font-size:16px;
}
#u1684_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:148px;
  word-wrap:break-word;
}
#u1685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:34px;
}
#u1685 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:0px;
  width:152px;
  height:34px;
  font-size:16px;
}
#u1685_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:148px;
  word-wrap:break-word;
}
#u1686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:34px;
}
#u1686 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:0px;
  width:250px;
  height:34px;
  font-size:16px;
}
#u1686_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:246px;
  word-wrap:break-word;
}
#u1687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:34px;
}
#u1687 {
  border-width:0px;
  position:absolute;
  left:858px;
  top:0px;
  width:106px;
  height:34px;
  font-size:16px;
}
#u1687_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:102px;
  word-wrap:break-word;
}
#u1688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:49px;
}
#u1688 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:152px;
  height:49px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1688_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:148px;
  word-wrap:break-word;
}
#u1689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:49px;
}
#u1689 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:34px;
  width:152px;
  height:49px;
}
#u1689_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:148px;
  word-wrap:break-word;
}
#u1690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:49px;
}
#u1690 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:34px;
  width:152px;
  height:49px;
}
#u1690_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:148px;
  word-wrap:break-word;
}
#u1691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:49px;
}
#u1691 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:34px;
  width:152px;
  height:49px;
}
#u1691_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:148px;
  word-wrap:break-word;
}
#u1692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:49px;
}
#u1692 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:34px;
  width:250px;
  height:49px;
  text-align:left;
}
#u1692_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:246px;
  word-wrap:break-word;
}
#u1693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:49px;
}
#u1693 {
  border-width:0px;
  position:absolute;
  left:858px;
  top:34px;
  width:106px;
  height:49px;
}
#u1693_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:49px;
}
#u1694 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:83px;
  width:152px;
  height:49px;
}
#u1694_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:49px;
}
#u1695 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:83px;
  width:152px;
  height:49px;
}
#u1695_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:148px;
  word-wrap:break-word;
}
#u1696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:49px;
}
#u1696 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:83px;
  width:152px;
  height:49px;
}
#u1696_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:148px;
  word-wrap:break-word;
}
#u1697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:49px;
}
#u1697 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:83px;
  width:152px;
  height:49px;
}
#u1697_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:148px;
  word-wrap:break-word;
}
#u1698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:49px;
}
#u1698 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:83px;
  width:250px;
  height:49px;
  text-align:left;
}
#u1698_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:246px;
  word-wrap:break-word;
}
#u1699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:49px;
}
#u1699 {
  border-width:0px;
  position:absolute;
  left:858px;
  top:83px;
  width:106px;
  height:49px;
}
#u1699_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1700_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1700 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:100px;
  width:161px;
  height:24px;
  font-size:20px;
}
#u1700_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
