body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-470px;
  width:361px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:737px;
}
#u4152 {
  position:absolute;
  left:470px;
  top:46px;
  width:361px;
  height:737px;
}
#u4153 {
  position:absolute;
  left:2px;
  top:360px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:560px;
}
#u4154 {
  position:absolute;
  left:493px;
  top:136px;
  width:315px;
  height:560px;
}
#u4155 {
  position:absolute;
  left:2px;
  top:272px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4156 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:464px;
}
#u4157 {
  position:absolute;
  left:808px;
  top:155px;
  width:23px;
  height:464px;
}
#u4158 {
  position:absolute;
  left:2px;
  top:224px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:77px;
}
#u4159 {
  position:absolute;
  left:808px;
  top:619px;
  width:23px;
  height:77px;
}
#u4160 {
  position:absolute;
  left:2px;
  top:30px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:27px;
}
#u4161 {
  position:absolute;
  left:629px;
  top:166px;
  width:41px;
  height:27px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u4162 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u4163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:50px;
}
#u4163 {
  position:absolute;
  left:492px;
  top:155px;
  width:316px;
  height:50px;
  color:#666666;
}
#u4164 {
  position:absolute;
  left:2px;
  top:17px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
}
#u4165 {
  position:absolute;
  left:610px;
  top:166px;
  width:81px;
  height:27px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u4166 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u4167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u4167 {
  position:absolute;
  left:508px;
  top:170px;
  width:33px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u4168 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:493px;
}
#u4169 {
  position:absolute;
  left:492px;
  top:205px;
  width:315px;
  height:493px;
}
#u4170 {
  position:absolute;
  left:2px;
  top:238px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:2px;
}
#u4171 {
  position:absolute;
  left:492px;
  top:217px;
  width:315px;
  height:1px;
}
#u4172 {
  position:absolute;
  left:2px;
  top:-8px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u4173 {
  position:absolute;
  left:761px;
  top:170px;
  width:33px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u4174 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:60px;
}
#u4175 {
  position:absolute;
  left:492px;
  top:218px;
  width:316px;
  height:60px;
  font-size:16px;
  text-align:left;
}
#u4175_img.mouseDown {
}
#u4175.mouseDown {
}
#u4176 {
  position:absolute;
  left:15px;
  top:20px;
  width:299px;
  word-wrap:break-word;
}
#u4177 {
  position:absolute;
  left:593px;
  top:226px;
  width:186px;
  height:45px;
}
#u4177_input {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:45px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4177_input {
  font-family:'应用字体';
  color:#000000;
}
#u4177_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:192px;
  height:51px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:2px;
}
#u4178 {
  position:absolute;
  left:492px;
  top:278px;
  width:315px;
  height:1px;
}
#u4179 {
  position:absolute;
  left:2px;
  top:-8px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:60px;
}
#u4180 {
  position:absolute;
  left:492px;
  top:279px;
  width:316px;
  height:60px;
  font-size:16px;
  text-align:left;
}
#u4180_img.mouseDown {
}
#u4180.mouseDown {
}
#u4181 {
  position:absolute;
  left:15px;
  top:20px;
  width:299px;
  word-wrap:break-word;
}
#u4180_ann {
  position:absolute;
  left:801px;
  top:275px;
  width:1px;
  height:1px;
}
#u4182 {
  position:absolute;
  left:593px;
  top:287px;
  width:186px;
  height:45px;
}
#u4182_input {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:45px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4182_input {
  font-family:'应用字体';
  color:#000000;
}
#u4182_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:192px;
  height:51px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:2px;
}
#u4183 {
  position:absolute;
  left:492px;
  top:339px;
  width:315px;
  height:1px;
}
#u4184 {
  position:absolute;
  left:2px;
  top:-8px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
