body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-470px;
  width:361px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:737px;
}
#u3306 {
  position:absolute;
  left:470px;
  top:46px;
  width:361px;
  height:737px;
}
#u3307 {
  position:absolute;
  left:2px;
  top:360px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:560px;
}
#u3308 {
  position:absolute;
  left:492px;
  top:136px;
  width:316px;
  height:560px;
}
#u3309 {
  position:absolute;
  left:2px;
  top:272px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:50px;
}
#u3310 {
  position:absolute;
  left:492px;
  top:155px;
  width:316px;
  height:50px;
  color:#666666;
}
#u3311 {
  position:absolute;
  left:2px;
  top:17px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
}
#u3312 {
  position:absolute;
  left:610px;
  top:166px;
  width:81px;
  height:27px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u3313 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:495px;
}
#u3314 {
  position:absolute;
  left:493px;
  top:203px;
  width:315px;
  height:495px;
}
#u3315 {
  position:absolute;
  left:2px;
  top:240px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u3316 {
  position:absolute;
  left:508px;
  top:170px;
  width:33px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u3317 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u3318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:50px;
}
#u3318 {
  position:absolute;
  left:492px;
  top:648px;
  width:316px;
  height:50px;
}
#u3319 {
  position:absolute;
  left:2px;
  top:17px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:110px;
}
#u3320 {
  position:absolute;
  left:564px;
  top:222px;
  width:200px;
  height:110px;
}
#u3321 {
  position:absolute;
  left:2px;
  top:47px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:59px;
}
#u3322 {
  position:absolute;
  left:627px;
  top:233px;
  width:120px;
  height:59px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  line-height:18px;
}
#u3323 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u3324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:32px;
}
#u3324 {
  position:absolute;
  left:578px;
  top:291px;
  width:176px;
  height:32px;
  text-align:left;
}
#u3325 {
  position:absolute;
  left:2px;
  top:6px;
  width:172px;
  word-wrap:break-word;
}
#u3326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:2px;
}
#u3326 {
  position:absolute;
  left:578px;
  top:289px;
  width:176px;
  height:1px;
}
#u3327 {
  position:absolute;
  left:2px;
  top:-8px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u3328 {
  position:absolute;
  left:576px;
  top:235px;
  width:42px;
  height:42px;
}
#u3329 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:101px;
}
#u3330 {
  position:absolute;
  left:564px;
  top:222px;
  width:200px;
  height:101px;
}
#u3331 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u3332 {
  position:absolute;
  left:508px;
  top:222px;
  width:43px;
  height:43px;
}
#u3333 {
  position:absolute;
  left:2px;
  top:14px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:32px;
}
#u3334 {
  position:absolute;
  left:773px;
  top:164px;
  width:26px;
  height:32px;
}
#u3335 {
  position:absolute;
  left:2px;
  top:8px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
