body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-470px;
  width:361px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:737px;
}
#u3030 {
  position:absolute;
  left:470px;
  top:46px;
  width:361px;
  height:737px;
}
#u3031 {
  position:absolute;
  left:2px;
  top:360px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:560px;
}
#u3032 {
  position:absolute;
  left:492px;
  top:136px;
  width:316px;
  height:560px;
}
#u3033 {
  position:absolute;
  left:2px;
  top:272px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:50px;
}
#u3034 {
  position:absolute;
  left:492px;
  top:155px;
  width:316px;
  height:50px;
  color:#666666;
}
#u3035 {
  position:absolute;
  left:2px;
  top:17px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u3036 {
  position:absolute;
  left:580px;
  top:169px;
  width:81px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u3037 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:495px;
}
#u3038 {
  position:absolute;
  left:492px;
  top:203px;
  width:316px;
  height:495px;
}
#u3039 {
  position:absolute;
  left:2px;
  top:240px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u3040 {
  position:absolute;
  left:508px;
  top:170px;
  width:33px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u3041 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u3042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:50px;
}
#u3042 {
  position:absolute;
  left:492px;
  top:648px;
  width:316px;
  height:50px;
}
#u3043 {
  position:absolute;
  left:2px;
  top:17px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:24px;
}
#u3044 {
  position:absolute;
  left:622px;
  top:215px;
  width:56px;
  height:24px;
  font-size:12px;
  color:#FFFFFF;
}
#u3045 {
  position:absolute;
  left:2px;
  top:4px;
  width:52px;
  word-wrap:break-word;
}
#u3046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u3046 {
  position:absolute;
  left:770px;
  top:164px;
  width:25px;
  height:25px;
}
#u3047 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u3048 {
  position:absolute;
  left:666px;
  top:169px;
  width:53px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u3049 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u3050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u3050 {
  position:absolute;
  left:499px;
  top:249px;
  width:43px;
  height:43px;
}
#u3051 {
  position:absolute;
  left:2px;
  top:14px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:43px;
}
#u3052 {
  position:absolute;
  left:560px;
  top:250px;
  width:200px;
  height:43px;
}
#u3053 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u3054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u3054 {
  position:absolute;
  left:756px;
  top:324px;
  width:43px;
  height:43px;
}
#u3055 {
  position:absolute;
  left:2px;
  top:14px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:43px;
}
#u3056 {
  position:absolute;
  left:620px;
  top:324px;
  width:120px;
  height:43px;
}
#u3057 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
