body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-470px;
  width:361px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:737px;
}
#u5254 {
  position:absolute;
  left:470px;
  top:46px;
  width:361px;
  height:737px;
}
#u5255 {
  position:absolute;
  left:2px;
  top:360px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:560px;
}
#u5256 {
  position:absolute;
  left:492px;
  top:136px;
  width:316px;
  height:560px;
}
#u5257 {
  position:absolute;
  left:2px;
  top:272px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:87px;
}
#u5258 {
  position:absolute;
  left:470px;
  top:696px;
  width:361px;
  height:87px;
}
#u5259 {
  position:absolute;
  left:2px;
  top:36px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:27px;
}
#u5260 {
  position:absolute;
  left:629px;
  top:166px;
  width:41px;
  height:27px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u5261 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u5262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:50px;
}
#u5262 {
  position:absolute;
  left:492px;
  top:155px;
  width:316px;
  height:50px;
  color:#666666;
}
#u5263 {
  position:absolute;
  left:2px;
  top:17px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:27px;
}
#u5264 {
  position:absolute;
  left:600px;
  top:166px;
  width:101px;
  height:27px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u5265 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u5266 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:464px;
}
#u5267 {
  position:absolute;
  left:808px;
  top:155px;
  width:23px;
  height:464px;
}
#u5268 {
  position:absolute;
  left:2px;
  top:224px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:80px;
}
#u5269 {
  position:absolute;
  left:808px;
  top:619px;
  width:23px;
  height:80px;
}
#u5270 {
  position:absolute;
  left:2px;
  top:32px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:494px;
}
#u5271 {
  position:absolute;
  left:492px;
  top:204px;
  width:316px;
  height:494px;
}
#u5272 {
  position:absolute;
  left:2px;
  top:239px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:20px;
}
#u5273 {
  position:absolute;
  left:538px;
  top:453px;
  width:225px;
  height:20px;
  color:#666666;
  text-align:center;
}
#u5274 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u5275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:93px;
}
#u5275 {
  position:absolute;
  left:605px;
  top:347px;
  width:90px;
  height:93px;
  opacity:0.5;
}
#u5276 {
  position:absolute;
  left:2px;
  top:38px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:50px;
}
#u5277 {
  position:absolute;
  left:565px;
  top:497px;
  width:175px;
  height:50px;
  font-size:16px;
  color:#FFFFFF;
}
#u5278 {
  position:absolute;
  left:2px;
  top:14px;
  width:171px;
  word-wrap:break-word;
}
#u5279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:40px;
}
#u5279 {
  position:absolute;
  left:767px;
  top:156px;
  width:31px;
  height:40px;
  font-size:40px;
  color:#FFFFFF;
  line-height:40px;
}
#u5280 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u5281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
}
#u5281 {
  position:absolute;
  left:508px;
  top:170px;
  width:49px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u5282 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
