body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-470px;
  width:361px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:737px;
}
#u5713 {
  position:absolute;
  left:470px;
  top:46px;
  width:361px;
  height:737px;
}
#u5714 {
  position:absolute;
  left:2px;
  top:360px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:560px;
}
#u5715 {
  position:absolute;
  left:492px;
  top:136px;
  width:316px;
  height:560px;
}
#u5716 {
  position:absolute;
  left:2px;
  top:272px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:496px;
}
#u5717 {
  position:absolute;
  left:492px;
  top:203px;
  width:316px;
  height:496px;
}
#u5718 {
  position:absolute;
  left:2px;
  top:240px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:87px;
}
#u5719 {
  position:absolute;
  left:470px;
  top:696px;
  width:361px;
  height:87px;
}
#u5720 {
  position:absolute;
  left:2px;
  top:36px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5721 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:464px;
}
#u5722 {
  position:absolute;
  left:808px;
  top:155px;
  width:23px;
  height:464px;
}
#u5723 {
  position:absolute;
  left:2px;
  top:224px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:80px;
}
#u5724 {
  position:absolute;
  left:808px;
  top:619px;
  width:23px;
  height:80px;
}
#u5725 {
  position:absolute;
  left:2px;
  top:32px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:180px;
}
#u5726 {
  position:absolute;
  left:492px;
  top:155px;
  width:317px;
  height:180px;
  color:#666666;
}
#u5727 {
  position:absolute;
  left:2px;
  top:82px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:179px;
}
#u5728 {
  position:absolute;
  left:492px;
  top:155px;
  width:317px;
  height:179px;
  opacity:0.200000002980232;
}
#u5729 {
  position:absolute;
  left:2px;
  top:82px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u5730 {
  position:absolute;
  left:509px;
  top:169px;
  width:33px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u5731 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u5732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u5732 {
  position:absolute;
  left:763px;
  top:169px;
  width:33px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u5733 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u5734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:27px;
}
#u5734 {
  position:absolute;
  left:577px;
  top:208px;
  width:145px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u5735 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u5736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:20px;
}
#u5736 {
  position:absolute;
  left:549px;
  top:240px;
  width:197px;
  height:20px;
  color:#CCCCCC;
  text-align:center;
}
#u5737 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u5738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:32px;
}
#u5738 {
  position:absolute;
  left:505px;
  top:289px;
  width:290px;
  height:32px;
}
#u5739 {
  position:absolute;
  left:2px;
  top:8px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
}
#u5740 {
  position:absolute;
  left:611px;
  top:294px;
  width:93px;
  height:20px;
}
#u5741 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u5742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u5742 {
  position:absolute;
  left:587px;
  top:294px;
  width:19px;
  height:19px;
  opacity:0.5;
}
#u5743 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:80px;
}
#u5744 {
  position:absolute;
  left:492px;
  top:335px;
  width:316px;
  height:80px;
}
#u5744_img.mouseDown {
}
#u5744.mouseDown {
}
#u5745 {
  position:absolute;
  left:2px;
  top:32px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u5746 {
  position:absolute;
  left:508px;
  top:355px;
  width:40px;
  height:40px;
}
#u5747 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:60px;
}
#u5748 {
  position:absolute;
  left:564px;
  top:345px;
  width:157px;
  height:60px;
  line-height:20px;
}
#u5749 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u5750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:18px;
}
#u5750 {
  position:absolute;
  left:615px;
  top:345px;
  width:49px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u5751 {
  position:absolute;
  left:0px;
  top:1px;
  width:49px;
  word-wrap:break-word;
}
#u5752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:206px;
}
#u5752 {
  position:absolute;
  left:505px;
  top:428px;
  width:290px;
  height:206px;
}
#u5753 {
  position:absolute;
  left:2px;
  top:95px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:50px;
}
#u5754 {
  position:absolute;
  left:557px;
  top:532px;
  width:186px;
  height:50px;
  font-size:16px;
  color:#FFFFFF;
}
#u5755 {
  position:absolute;
  left:2px;
  top:14px;
  width:182px;
  word-wrap:break-word;
}
#u5756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:48px;
}
#u5756 {
  position:absolute;
  left:560px;
  top:470px;
  width:181px;
  height:48px;
  text-align:center;
  line-height:24px;
}
#u5757 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u5758_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:543px;
}
#u5758 {
  position:absolute;
  left:492px;
  top:155px;
  width:317px;
  height:543px;
}
#u5759 {
  position:absolute;
  left:2px;
  top:264px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5760 {
  position:absolute;
  left:491px;
  top:389px;
  visibility:hidden;
}
#u5760_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:318px;
  height:310px;
  background-image:none;
}
#u5760_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5761_img {
  position:absolute;
  left:-5px;
  top:-6px;
  width:327px;
  height:320px;
}
#u5761 {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:310px;
}
#u5762 {
  position:absolute;
  left:2px;
  top:147px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5763_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:60px;
}
#u5763 {
  position:absolute;
  left:0px;
  top:250px;
  width:318px;
  height:60px;
  font-size:18px;
}
#u5764 {
  position:absolute;
  left:2px;
  top:18px;
  width:314px;
  word-wrap:break-word;
}
#u5765_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:60px;
}
#u5765 {
  position:absolute;
  left:0px;
  top:117px;
  width:318px;
  height:60px;
  font-size:18px;
}
#u5766 {
  position:absolute;
  left:2px;
  top:18px;
  width:314px;
  word-wrap:break-word;
}
#u5767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:60px;
}
#u5767 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:60px;
  font-size:18px;
}
#u5768 {
  position:absolute;
  left:2px;
  top:18px;
  width:314px;
  word-wrap:break-word;
}
#u5769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:60px;
}
#u5769 {
  position:absolute;
  left:0px;
  top:176px;
  width:318px;
  height:60px;
  font-size:18px;
}
#u5770 {
  position:absolute;
  left:2px;
  top:18px;
  width:314px;
  word-wrap:break-word;
}
#u5771_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:60px;
}
#u5771 {
  position:absolute;
  left:0px;
  top:59px;
  width:318px;
  height:60px;
  font-size:16px;
}
#u5771_img.mouseDown {
}
#u5771.mouseDown {
}
#u5772 {
  position:absolute;
  left:20px;
  top:20px;
  width:296px;
  word-wrap:break-word;
}
#u5773 {
  position:absolute;
  left:519px;
  top:349px;
  visibility:hidden;
}
#u5773_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:262px;
  height:119px;
  background-image:none;
}
#u5773_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:70px;
}
#u5774 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:70px;
}
#u5775 {
  position:absolute;
  left:2px;
  top:27px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5776_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:40px;
}
#u5776 {
  position:absolute;
  left:68px;
  top:15px;
  width:127px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u5777 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u5778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
}
#u5778 {
  position:absolute;
  left:0px;
  top:69px;
  width:130px;
  height:50px;
  font-size:18px;
}
#u5779 {
  position:absolute;
  left:2px;
  top:13px;
  width:126px;
  word-wrap:break-word;
}
#u5780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:50px;
}
#u5780 {
  position:absolute;
  left:129px;
  top:69px;
  width:133px;
  height:50px;
  font-size:18px;
}
#u5781 {
  position:absolute;
  left:2px;
  top:13px;
  width:129px;
  word-wrap:break-word;
}
#u5782 {
  position:absolute;
  left:492px;
  top:469px;
  visibility:hidden;
}
#u5782_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:317px;
  height:230px;
  background-image:none;
}
#u5782_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5783_img {
  position:absolute;
  left:-5px;
  top:-6px;
  width:327px;
  height:240px;
}
#u5783 {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:230px;
}
#u5784 {
  position:absolute;
  left:2px;
  top:107px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:54px;
}
#u5785 {
  position:absolute;
  left:244px;
  top:76px;
  width:52px;
  height:54px;
}
#u5786 {
  position:absolute;
  left:2px;
  top:19px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5787_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u5787 {
  position:absolute;
  left:16px;
  top:76px;
  width:54px;
  height:54px;
}
#u5788 {
  position:absolute;
  left:2px;
  top:19px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5789_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:60px;
}
#u5789 {
  position:absolute;
  left:0px;
  top:170px;
  width:317px;
  height:60px;
  font-size:20px;
}
#u5790 {
  position:absolute;
  left:2px;
  top:16px;
  width:313px;
  word-wrap:break-word;
}
#u5791_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u5791 {
  position:absolute;
  left:24px;
  top:137px;
  width:37px;
  height:17px;
  font-size:12px;
}
#u5792 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5793_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u5793 {
  position:absolute;
  left:246px;
  top:137px;
  width:49px;
  height:17px;
  font-size:12px;
  text-align:center;
}
#u5794 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5795_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:54px;
}
#u5795 {
  position:absolute;
  left:170px;
  top:76px;
  width:52px;
  height:54px;
}
#u5796 {
  position:absolute;
  left:2px;
  top:19px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u5797 {
  position:absolute;
  left:178px;
  top:137px;
  width:37px;
  height:17px;
  font-size:12px;
  text-align:center;
}
#u5798 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:54px;
}
#u5799 {
  position:absolute;
  left:92px;
  top:76px;
  width:52px;
  height:54px;
}
#u5800 {
  position:absolute;
  left:2px;
  top:19px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
}
#u5801 {
  position:absolute;
  left:106px;
  top:137px;
  width:25px;
  height:17px;
  font-size:12px;
}
#u5802 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
}
#u5803 {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  color:#999999;
}
#u5804 {
  position:absolute;
  left:2px;
  top:15px;
  width:313px;
  word-wrap:break-word;
}
