body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-470px;
  width:366px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:737px;
}
#u4914 {
  position:absolute;
  left:470px;
  top:46px;
  width:366px;
  height:737px;
}
#u4915 {
  position:absolute;
  left:2px;
  top:360px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:560px;
}
#u4916 {
  position:absolute;
  left:493px;
  top:136px;
  width:320px;
  height:560px;
}
#u4917 {
  position:absolute;
  left:2px;
  top:272px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u4918 {
  position:absolute;
  left:493px;
  top:155px;
  width:320px;
  height:50px;
  color:#666666;
}
#u4919 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u4920 {
  position:absolute;
  left:508px;
  top:170px;
  width:33px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u4921 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:87px;
}
#u4922 {
  position:absolute;
  left:470px;
  top:696px;
  width:366px;
  height:87px;
}
#u4923 {
  position:absolute;
  left:2px;
  top:36px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:53px;
}
#u4924 {
  position:absolute;
  left:492px;
  top:646px;
  width:321px;
  height:53px;
  font-size:16px;
  color:#FFFFFF;
}
#u4925 {
  position:absolute;
  left:2px;
  top:16px;
  width:317px;
  word-wrap:break-word;
}
#u4926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u4926 {
  position:absolute;
  left:767px;
  top:170px;
  width:33px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u4927 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
}
#u4928 {
  position:absolute;
  left:616px;
  top:169px;
  width:73px;
  height:24px;
  font-size:18px;
  color:#FFFFFF;
}
#u4929 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4930 {
  position:absolute;
  left:493px;
  top:205px;
  width:337px;
  height:441px;
  overflow:hidden;
}
#u4930_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:441px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u4930_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:640px;
}
#u4931 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:640px;
}
#u4932 {
  position:absolute;
  left:2px;
  top:312px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:156px;
}
#u4933 {
  position:absolute;
  left:6px;
  top:19px;
  width:307px;
  height:156px;
  opacity:0.5;
}
#u4934 {
  position:absolute;
  left:2px;
  top:70px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4935 {
  position:absolute;
  left:14px;
  top:4px;
  width:289px;
  height:181px;
  overflow:hidden;
}
#u4935_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:181px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4935_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4936_img {
  position:absolute;
  left:-2px;
  top:0px;
  width:292px;
  height:185px;
}
#u4936 {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:181px;
  font-family:'Impact Normal', 'Impact';
  font-weight:400;
  font-style:normal;
  font-size:40px;
}
#u4937 {
  position:absolute;
  left:2px;
  top:82px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4938_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:293px;
  height:10px;
}
#u4938 {
  position:absolute;
  left:0px;
  top:1px;
  width:288px;
  height:5px;
  opacity:0.600000023841858;
}
#u4939 {
  position:absolute;
  left:2px;
  top:-6px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u4940 {
  position:absolute;
  left:20px;
  top:33px;
  width:41px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  line-height:24px;
}
#u4941 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u4942_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:60px;
  height:60px;
}
#u4942 {
  position:absolute;
  left:220px;
  top:20px;
  width:50px;
  height:50px;
}
#u4943 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:22px;
}
#u4944 {
  position:absolute;
  left:20px;
  top:84px;
  width:240px;
  height:22px;
  font-size:12px;
  color:#666666;
  line-height:20px;
}
#u4945 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u4946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
}
#u4946 {
  position:absolute;
  left:72px;
  top:41px;
  width:41px;
  height:16px;
  font-size:10px;
}
#u4947 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u4948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u4948 {
  position:absolute;
  left:217px;
  top:111px;
  width:52px;
  height:52px;
}
#u4949 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:23px;
}
#u4950 {
  position:absolute;
  left:20px;
  top:111px;
  width:200px;
  height:23px;
  font-size:12px;
  color:#666666;
  line-height:20px;
}
#u4951 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u4952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:23px;
}
#u4952 {
  position:absolute;
  left:20px;
  top:140px;
  width:180px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:20px;
}
#u4953 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u4954_img {
  position:absolute;
  left:-5px;
  top:-3px;
  width:300px;
  height:191px;
}
#u4954 {
  position:absolute;
  left:14px;
  top:4px;
  width:290px;
  height:181px;
}
#u4955 {
  position:absolute;
  left:2px;
  top:82px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4956_img {
  position:absolute;
  left:-5px;
  top:-3px;
  width:297px;
  height:191px;
}
#u4956 {
  position:absolute;
  left:16px;
  top:7px;
  width:287px;
  height:181px;
}
#u4957 {
  position:absolute;
  left:2px;
  top:82px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u4958 {
  position:absolute;
  left:0px;
  top:286px;
  width:320px;
  height:60px;
}
#u4959 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u4960 {
  position:absolute;
  left:16px;
  top:345px;
  width:300px;
  height:1px;
}
#u4961 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u4962 {
  position:absolute;
  left:0px;
  top:346px;
  width:320px;
  height:60px;
}
#u4963 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
}
#u4964 {
  position:absolute;
  left:16px;
  top:323px;
  width:97px;
  height:20px;
  color:#666666;
}
#u4965 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u4966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u4966 {
  position:absolute;
  left:16px;
  top:353px;
  width:29px;
  height:20px;
}
#u4967 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:20px;
}
#u4968 {
  position:absolute;
  left:16px;
  top:383px;
  width:261px;
  height:20px;
  color:#666666;
}
#u4969 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u4970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u4970 {
  position:absolute;
  left:16px;
  top:406px;
  width:300px;
  height:1px;
}
#u4971 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u4972 {
  position:absolute;
  left:0px;
  top:407px;
  width:320px;
  height:60px;
}
#u4973 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u4974 {
  position:absolute;
  left:16px;
  top:467px;
  width:300px;
  height:1px;
}
#u4975 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u4976 {
  position:absolute;
  left:0px;
  top:468px;
  width:320px;
  height:60px;
}
#u4977 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u4978 {
  position:absolute;
  left:16px;
  top:528px;
  width:300px;
  height:1px;
}
#u4979 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u4980 {
  position:absolute;
  left:0px;
  top:529px;
  width:320px;
  height:60px;
}
#u4981 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u4982 {
  position:absolute;
  left:16px;
  top:413px;
  width:29px;
  height:20px;
}
#u4983 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:20px;
}
#u4984 {
  position:absolute;
  left:16px;
  top:443px;
  width:148px;
  height:20px;
  color:#666666;
}
#u4985 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u4986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u4986 {
  position:absolute;
  left:16px;
  top:473px;
  width:43px;
  height:20px;
}
#u4987 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u4988 {
  position:absolute;
  left:16px;
  top:503px;
  width:57px;
  height:20px;
  color:#666666;
}
#u4989 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u4990 {
  position:absolute;
  left:16px;
  top:533px;
  width:43px;
  height:20px;
}
#u4991 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u4992 {
  position:absolute;
  left:16px;
  top:563px;
  width:71px;
  height:20px;
  color:#666666;
}
#u4993 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:72px;
}
#u4994 {
  position:absolute;
  left:0px;
  top:198px;
  width:320px;
  height:72px;
}
#u4994_img.mouseDown {
}
#u4994.mouseDown {
}
#u4995 {
  position:absolute;
  left:2px;
  top:28px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
}
#u4996 {
  position:absolute;
  left:38px;
  top:251px;
  width:25px;
  height:17px;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u4997 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u4998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:24px;
}
#u4998 {
  position:absolute;
  left:31px;
  top:228px;
  width:39px;
  height:24px;
  font-size:18px;
  color:#666666;
  text-align:center;
}
#u4999 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u5000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
}
#u5000 {
  position:absolute;
  left:154px;
  top:250px;
  width:25px;
  height:17px;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u5001 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:24px;
}
#u5002 {
  position:absolute;
  left:146px;
  top:227px;
  width:39px;
  height:24px;
  font-size:18px;
  color:#666666;
  text-align:center;
}
#u5003 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u5004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:17px;
}
#u5004 {
  position:absolute;
  left:265px;
  top:250px;
  width:13px;
  height:17px;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u5005 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u5006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:24px;
}
#u5006 {
  position:absolute;
  left:251px;
  top:227px;
  width:39px;
  height:24px;
  font-size:18px;
  color:#666666;
  text-align:center;
}
#u5007 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u5008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:2px;
}
#u5008 {
  position:absolute;
  left:0px;
  top:285px;
  width:316px;
  height:1px;
}
#u5009 {
  position:absolute;
  left:2px;
  top:-8px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u5010 {
  position:absolute;
  left:0px;
  top:590px;
  width:320px;
  height:1px;
}
#u5011 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u5012 {
  position:absolute;
  left:0px;
  top:270px;
  width:320px;
  height:1px;
}
#u5013 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u5014 {
  position:absolute;
  left:0px;
  top:197px;
  width:320px;
  height:1px;
}
#u5015 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
}
#u5016 {
  position:absolute;
  left:16px;
  top:293px;
  width:23px;
  height:20px;
}
#u5017 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u5018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u5018 {
  position:absolute;
  left:261px;
  top:206px;
  width:21px;
  height:21px;
}
#u5019 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u5020 {
  position:absolute;
  left:38px;
  top:203px;
  width:25px;
  height:25px;
}
#u5021 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u5022 {
  position:absolute;
  left:154px;
  top:203px;
  width:23px;
  height:23px;
}
#u5023 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:499px;
}
#u5024 {
  position:absolute;
  left:813px;
  top:203px;
  width:23px;
  height:499px;
}
#u5025 {
  position:absolute;
  left:2px;
  top:242px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:563px;
}
#u5026 {
  position:absolute;
  left:493px;
  top:136px;
  width:320px;
  height:563px;
}
#u5027 {
  position:absolute;
  left:2px;
  top:274px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5028 {
  position:absolute;
  left:493px;
  top:482px;
  width:320px;
  height:217px;
  overflow:hidden;
  visibility:hidden;
}
#u5028_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:217px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5028_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5029_img {
  position:absolute;
  left:-5px;
  top:-6px;
  width:330px;
  height:227px;
}
#u5029 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:217px;
}
#u5030 {
  position:absolute;
  left:2px;
  top:100px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:54px;
}
#u5031 {
  position:absolute;
  left:247px;
  top:63px;
  width:53px;
  height:54px;
}
#u5032 {
  position:absolute;
  left:2px;
  top:19px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:54px;
}
#u5033 {
  position:absolute;
  left:170px;
  top:63px;
  width:53px;
  height:54px;
}
#u5034 {
  position:absolute;
  left:2px;
  top:19px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:54px;
}
#u5035 {
  position:absolute;
  left:93px;
  top:63px;
  width:53px;
  height:54px;
}
#u5036 {
  position:absolute;
  left:2px;
  top:19px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u5037 {
  position:absolute;
  left:0px;
  top:157px;
  width:320px;
  height:60px;
  font-size:20px;
}
#u5038 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  word-wrap:break-word;
}
#u5039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u5039 {
  position:absolute;
  left:116px;
  top:22px;
  width:85px;
  height:20px;
  color:#999999;
  text-align:center;
}
#u5040 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:2px;
}
#u5041 {
  position:absolute;
  left:18px;
  top:32px;
  width:88px;
  height:1px;
}
#u5042 {
  position:absolute;
  left:2px;
  top:-8px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:2px;
}
#u5043 {
  position:absolute;
  left:211px;
  top:32px;
  width:91px;
  height:1px;
}
#u5044 {
  position:absolute;
  left:2px;
  top:-8px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u5045 {
  position:absolute;
  left:30px;
  top:124px;
  width:37px;
  height:17px;
  font-size:12px;
}
#u5046 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
}
#u5047 {
  position:absolute;
  left:107px;
  top:124px;
  width:25px;
  height:17px;
  font-size:12px;
  text-align:center;
}
#u5048 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u5049 {
  position:absolute;
  left:178px;
  top:124px;
  width:37px;
  height:17px;
  font-size:12px;
  text-align:center;
}
#u5050 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u5051 {
  position:absolute;
  left:249px;
  top:124px;
  width:49px;
  height:17px;
  font-size:12px;
  text-align:center;
}
#u5052 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:2px;
}
#u5053 {
  position:absolute;
  left:18px;
  top:162px;
  width:284px;
  height:1px;
}
#u5054 {
  position:absolute;
  left:2px;
  top:-8px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u5055 {
  position:absolute;
  left:22px;
  top:63px;
  width:54px;
  height:54px;
}
#u5056 {
  position:absolute;
  left:2px;
  top:19px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
