body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-470px;
  width:361px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u12055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:737px;
}
#u12055 {
  position:absolute;
  left:470px;
  top:46px;
  width:361px;
  height:737px;
}
#u12056 {
  position:absolute;
  left:2px;
  top:360px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12057 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:560px;
}
#u12058 {
  position:absolute;
  left:493px;
  top:136px;
  width:315px;
  height:560px;
}
#u12059 {
  position:absolute;
  left:2px;
  top:272px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:19px;
}
#u12060 {
  position:absolute;
  left:804px;
  top:136px;
  width:3px;
  height:19px;
}
#u12061 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:50px;
}
#u12062 {
  position:absolute;
  left:493px;
  top:155px;
  width:315px;
  height:50px;
  color:#666666;
}
#u12063 {
  position:absolute;
  left:2px;
  top:17px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:27px;
}
#u12064 {
  position:absolute;
  left:634px;
  top:168px;
  width:41px;
  height:27px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u12065 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u12066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u12066 {
  position:absolute;
  left:510px;
  top:170px;
  width:33px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u12067 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u12068 {
  position:absolute;
  left:492px;
  top:205px;
  width:334px;
  height:492px;
  overflow:hidden;
}
#u12068_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:492px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u12068_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:491px;
}
#u12069 {
  position:absolute;
  left:1px;
  top:0px;
  width:315px;
  height:491px;
}
#u12070 {
  position:absolute;
  left:2px;
  top:238px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12071 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12072 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:61px;
}
#u12073 {
  position:absolute;
  left:0px;
  top:34px;
  width:317px;
  height:61px;
  text-align:left;
}
#u12074 {
  position:absolute;
  left:2px;
  top:22px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u12075 {
  position:absolute;
  left:14px;
  top:44px;
  width:40px;
  height:40px;
}
#u12076 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u12077 {
  position:absolute;
  left:64px;
  top:56px;
  width:29px;
  height:20px;
}
#u12078 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12079 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12080 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:61px;
}
#u12081 {
  position:absolute;
  left:0px;
  top:94px;
  width:317px;
  height:61px;
  text-align:left;
}
#u12082 {
  position:absolute;
  left:2px;
  top:22px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u12083 {
  position:absolute;
  left:14px;
  top:105px;
  width:40px;
  height:40px;
}
#u12084 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u12085 {
  position:absolute;
  left:64px;
  top:117px;
  width:43px;
  height:20px;
}
#u12086 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u12087 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12088 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:61px;
}
#u12089 {
  position:absolute;
  left:0px;
  top:154px;
  width:317px;
  height:61px;
  text-align:left;
}
#u12090 {
  position:absolute;
  left:2px;
  top:22px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u12091 {
  position:absolute;
  left:64px;
  top:176px;
  width:29px;
  height:20px;
}
#u12092 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u12093 {
  position:absolute;
  left:14px;
  top:164px;
  width:40px;
  height:40px;
}
#u12094 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12095 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12096 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:61px;
}
#u12097 {
  position:absolute;
  left:0px;
  top:214px;
  width:317px;
  height:61px;
  text-align:left;
}
#u12098 {
  position:absolute;
  left:2px;
  top:22px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u12099 {
  position:absolute;
  left:64px;
  top:237px;
  width:29px;
  height:20px;
}
#u12100 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u12101 {
  position:absolute;
  left:14px;
  top:225px;
  width:40px;
  height:40px;
}
#u12102 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12103 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12104 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12105 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:61px;
}
#u12106 {
  position:absolute;
  left:0px;
  top:274px;
  width:317px;
  height:61px;
  text-align:left;
}
#u12107 {
  position:absolute;
  left:2px;
  top:22px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u12108 {
  position:absolute;
  left:64px;
  top:297px;
  width:57px;
  height:20px;
}
#u12109 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u12110 {
  position:absolute;
  left:13px;
  top:285px;
  width:40px;
  height:40px;
}
#u12111 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u12112 {
  position:absolute;
  left:14px;
  top:11px;
  width:66px;
  height:16px;
}
#u12113 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  visibility:hidden;
  white-space:nowrap;
}
#u12114 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12115 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:61px;
}
#u12116 {
  position:absolute;
  left:0px;
  top:334px;
  width:317px;
  height:61px;
  text-align:left;
}
#u12117 {
  position:absolute;
  left:2px;
  top:22px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u12118 {
  position:absolute;
  left:64px;
  top:356px;
  width:29px;
  height:20px;
}
#u12119 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u12120 {
  position:absolute;
  left:14px;
  top:344px;
  width:40px;
  height:40px;
}
#u12121 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12122 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12123 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:61px;
}
#u12124 {
  position:absolute;
  left:0px;
  top:394px;
  width:317px;
  height:61px;
  text-align:left;
}
#u12125 {
  position:absolute;
  left:2px;
  top:22px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u12126 {
  position:absolute;
  left:64px;
  top:418px;
  width:29px;
  height:20px;
}
#u12127 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u12128 {
  position:absolute;
  left:14px;
  top:404px;
  width:40px;
  height:40px;
}
#u12129 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12130 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12131 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12132 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:61px;
}
#u12133 {
  position:absolute;
  left:0px;
  top:454px;
  width:317px;
  height:61px;
  text-align:left;
}
#u12134 {
  position:absolute;
  left:2px;
  top:22px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u12135 {
  position:absolute;
  left:64px;
  top:476px;
  width:57px;
  height:20px;
}
#u12136 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u12137 {
  position:absolute;
  left:14px;
  top:466px;
  width:40px;
  height:40px;
}
#u12138 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12139 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12140 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12141 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:61px;
}
#u12142 {
  position:absolute;
  left:0px;
  top:514px;
  width:317px;
  height:61px;
  text-align:left;
}
#u12143 {
  position:absolute;
  left:2px;
  top:22px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u12144 {
  position:absolute;
  left:64px;
  top:538px;
  width:43px;
  height:20px;
}
#u12145 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u12146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u12146 {
  position:absolute;
  left:14px;
  top:526px;
  width:40px;
  height:40px;
}
#u12147 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12148 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12149 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12150 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12151 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:61px;
}
#u12152 {
  position:absolute;
  left:0px;
  top:574px;
  width:317px;
  height:61px;
  text-align:left;
}
#u12153 {
  position:absolute;
  left:2px;
  top:22px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u12154 {
  position:absolute;
  left:64px;
  top:598px;
  width:43px;
  height:20px;
}
#u12155 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u12156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u12156 {
  position:absolute;
  left:14px;
  top:585px;
  width:40px;
  height:40px;
}
#u12157 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:34px;
}
#u12158 {
  position:absolute;
  left:1px;
  top:0px;
  width:315px;
  height:34px;
  text-align:left;
}
#u12159 {
  position:absolute;
  left:2px;
  top:7px;
  width:311px;
  word-wrap:break-word;
}
#u12160 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12161 {
  position:absolute;
  left:228px;
  top:59px;
  width:14px;
  height:16px;
}
#u12162 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12161_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12163 {
  position:absolute;
  left:278px;
  top:59px;
  width:14px;
  height:16px;
}
#u12164 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12163_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12165 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12166 {
  position:absolute;
  left:228px;
  top:176px;
  width:14px;
  height:16px;
}
#u12167 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12166_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12168 {
  position:absolute;
  left:278px;
  top:176px;
  width:14px;
  height:16px;
}
#u12169 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12168_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12170 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12171 {
  position:absolute;
  left:228px;
  top:118px;
  width:14px;
  height:16px;
}
#u12172 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12171_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12173 {
  position:absolute;
  left:279px;
  top:118px;
  width:14px;
  height:16px;
}
#u12174 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12173_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12175 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12176 {
  position:absolute;
  left:228px;
  top:238px;
  width:14px;
  height:16px;
}
#u12177 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12176_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12178 {
  position:absolute;
  left:278px;
  top:238px;
  width:14px;
  height:16px;
}
#u12179 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12178_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12180 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12181 {
  position:absolute;
  left:228px;
  top:298px;
  width:14px;
  height:16px;
}
#u12182 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12181_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12183 {
  position:absolute;
  left:278px;
  top:298px;
  width:14px;
  height:16px;
}
#u12184 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12183_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12185 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12186 {
  position:absolute;
  left:228px;
  top:357px;
  width:14px;
  height:16px;
}
#u12187 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12186_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12188 {
  position:absolute;
  left:278px;
  top:357px;
  width:14px;
  height:16px;
}
#u12189 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12188_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12190 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12191 {
  position:absolute;
  left:229px;
  top:418px;
  width:14px;
  height:16px;
}
#u12192 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12191_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12193 {
  position:absolute;
  left:279px;
  top:418px;
  width:14px;
  height:16px;
}
#u12194 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12193_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12195 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12196 {
  position:absolute;
  left:229px;
  top:477px;
  width:14px;
  height:16px;
}
#u12197 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12196_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12198 {
  position:absolute;
  left:279px;
  top:477px;
  width:14px;
  height:16px;
}
#u12199 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12198_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12200 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12201 {
  position:absolute;
  left:229px;
  top:538px;
  width:14px;
  height:16px;
}
#u12202 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12201_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12203 {
  position:absolute;
  left:279px;
  top:538px;
  width:14px;
  height:16px;
}
#u12204 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12203_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12205 {
  position:absolute;
  left:230px;
  top:598px;
  width:14px;
  height:16px;
}
#u12206 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12205_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u12207 {
  position:absolute;
  left:223px;
  top:8px;
  width:29px;
  height:20px;
}
#u12208 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u12209 {
  position:absolute;
  left:273px;
  top:8px;
  width:29px;
  height:20px;
}
#u12210 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12211 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:563px;
}
#u12212 {
  position:absolute;
  left:808px;
  top:147px;
  width:23px;
  height:563px;
}
#u12213 {
  position:absolute;
  left:2px;
  top:274px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:86px;
}
#u12214 {
  position:absolute;
  left:470px;
  top:697px;
  width:361px;
  height:86px;
}
#u12215 {
  position:absolute;
  left:2px;
  top:35px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
