body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-470px;
  width:361px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:737px;
}
#u13168 {
  position:absolute;
  left:470px;
  top:46px;
  width:361px;
  height:737px;
}
#u13169 {
  position:absolute;
  left:2px;
  top:360px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:560px;
}
#u13170 {
  position:absolute;
  left:493px;
  top:136px;
  width:315px;
  height:560px;
}
#u13171 {
  position:absolute;
  left:2px;
  top:272px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:50px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13172 {
  position:absolute;
  left:493px;
  top:155px;
  width:315px;
  height:50px;
}
#u13173 {
  position:absolute;
  left:2px;
  top:17px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u13174 {
  position:absolute;
  left:516px;
  top:172px;
  width:33px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u13175 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u13176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u13176 {
  position:absolute;
  left:613px;
  top:168px;
  width:81px;
  height:27px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u13177 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u13178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u13178 {
  position:absolute;
  left:500px;
  top:176px;
  width:13px;
  height:13px;
}
#u13179 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:493px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13180 {
  position:absolute;
  left:493px;
  top:205px;
  width:315px;
  height:493px;
  color:#999999;
}
#u13181 {
  position:absolute;
  left:2px;
  top:238px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u13182 {
  position:absolute;
  left:767px;
  top:170px;
  width:33px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u13183 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u13184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u13184 {
  position:absolute;
  left:493px;
  top:226px;
  width:315px;
  height:54px;
  text-align:left;
}
#u13185 {
  position:absolute;
  left:2px;
  top:17px;
  width:311px;
  word-wrap:break-word;
}
#u13186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u13186 {
  position:absolute;
  left:493px;
  top:279px;
  width:315px;
  height:54px;
  text-align:left;
}
#u13187 {
  position:absolute;
  left:2px;
  top:17px;
  width:311px;
  word-wrap:break-word;
}
#u13188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u13188 {
  position:absolute;
  left:493px;
  top:332px;
  width:315px;
  height:54px;
  text-align:left;
}
#u13189 {
  position:absolute;
  left:2px;
  top:17px;
  width:311px;
  word-wrap:break-word;
}
#u13190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:137px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u13190 {
  position:absolute;
  left:493px;
  top:410px;
  width:315px;
  height:137px;
  text-align:left;
}
#u13191 {
  position:absolute;
  left:2px;
  top:60px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13192 {
  position:absolute;
  left:508px;
  top:391px;
  width:57px;
  height:20px;
}
#u13193 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u13194 {
  position:absolute;
  left:727px;
  top:524px;
  width:68px;
  height:16px;
  font-size:11px;
  color:#999999;
}
#u13195 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u13196 {
  position:absolute;
  left:564px;
  top:292px;
  width:200px;
  height:25px;
}
#u13196_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u13196_input {
  font-family:'应用字体';
}
#u13197 {
  position:absolute;
  left:564px;
  top:241px;
  width:200px;
  height:25px;
}
#u13197_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u13197_input {
  font-family:'应用字体';
}
#u13198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13198 {
  position:absolute;
  left:670px;
  top:351px;
  width:131px;
  height:20px;
  color:#999999;
}
#u13199 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u13200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:9px;
}
#u13200 {
  position:absolute;
  left:792px;
  top:354px;
  width:6px;
  height:9px;
}
#u13201 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13202 {
  position:absolute;
  left:504px;
  top:422px;
  width:309px;
  height:40px;
  color:#999999;
}
#u13203 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  white-space:nowrap;
}
#u13204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13204 {
  position:absolute;
  left:493px;
  top:566px;
  width:315px;
  height:49px;
}
#u13205 {
  position:absolute;
  left:2px;
  top:14px;
  width:311px;
  word-wrap:break-word;
}
