body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-470px;
  width:361px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u13712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:737px;
}
#u13712 {
  position:absolute;
  left:470px;
  top:46px;
  width:361px;
  height:737px;
}
#u13713 {
  position:absolute;
  left:2px;
  top:360px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:560px;
}
#u13714 {
  position:absolute;
  left:492px;
  top:136px;
  width:316px;
  height:560px;
}
#u13715 {
  position:absolute;
  left:2px;
  top:272px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:50px;
}
#u13716 {
  position:absolute;
  left:492px;
  top:155px;
  width:316px;
  height:50px;
  color:#666666;
}
#u13717 {
  position:absolute;
  left:2px;
  top:17px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u13718 {
  position:absolute;
  left:508px;
  top:170px;
  width:65px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u13719 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u13720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:27px;
}
#u13720 {
  position:absolute;
  left:620px;
  top:166px;
  width:61px;
  height:27px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u13721 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u13722 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:464px;
}
#u13723 {
  position:absolute;
  left:808px;
  top:155px;
  width:23px;
  height:464px;
}
#u13724 {
  position:absolute;
  left:2px;
  top:224px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:80px;
}
#u13725 {
  position:absolute;
  left:808px;
  top:619px;
  width:23px;
  height:80px;
}
#u13726 {
  position:absolute;
  left:2px;
  top:32px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:493px;
}
#u13727 {
  position:absolute;
  left:492px;
  top:205px;
  width:316px;
  height:493px;
}
#u13728 {
  position:absolute;
  left:2px;
  top:238px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:50px;
}
#u13729 {
  position:absolute;
  left:492px;
  top:205px;
  width:316px;
  height:50px;
  color:#FFFFFF;
}
#u13730 {
  position:absolute;
  left:2px;
  top:15px;
  width:312px;
  word-wrap:break-word;
}
#u13731 {
  position:absolute;
  left:492px;
  top:255px;
}
#u13731_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:315px;
  height:61px;
  background-image:none;
}
#u13731_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:60px;
}
#u13732 {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:60px;
}
#u13732_img.mouseDown {
}
#u13732.mouseDown {
}
#u13733 {
  position:absolute;
  left:2px;
  top:22px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:26px;
}
#u13734 {
  position:absolute;
  left:72px;
  top:17px;
  width:68px;
  height:26px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:26px;
}
#u13735 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u13736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u13736 {
  position:absolute;
  left:17px;
  top:10px;
  width:40px;
  height:40px;
}
#u13737 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:2px;
}
#u13738 {
  position:absolute;
  left:17px;
  top:60px;
  width:298px;
  height:1px;
}
#u13739 {
  position:absolute;
  left:2px;
  top:-8px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:30px;
}
#u13740 {
  position:absolute;
  left:248px;
  top:15px;
  width:53px;
  height:30px;
  color:#666666;
}
#u13741 {
  position:absolute;
  left:2px;
  top:5px;
  width:49px;
  word-wrap:break-word;
}
#u13742 {
  position:absolute;
  left:492px;
  top:316px;
}
#u13742_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:315px;
  height:61px;
  background-image:none;
}
#u13742_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:60px;
}
#u13743 {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:60px;
}
#u13743_img.mouseDown {
}
#u13743.mouseDown {
}
#u13744 {
  position:absolute;
  left:2px;
  top:22px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u13745 {
  position:absolute;
  left:17px;
  top:10px;
  width:40px;
  height:40px;
}
#u13746 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:26px;
}
#u13747 {
  position:absolute;
  left:72px;
  top:17px;
  width:68px;
  height:26px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:26px;
}
#u13748 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u13749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:30px;
}
#u13749 {
  position:absolute;
  left:248px;
  top:15px;
  width:53px;
  height:30px;
  color:#666666;
}
#u13750 {
  position:absolute;
  left:2px;
  top:5px;
  width:49px;
  word-wrap:break-word;
}
#u13751_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:2px;
}
#u13751 {
  position:absolute;
  left:0px;
  top:60px;
  width:315px;
  height:1px;
}
#u13752 {
  position:absolute;
  left:2px;
  top:-8px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13753 {
  position:absolute;
  left:590px;
  top:350px;
  visibility:hidden;
}
#u13753_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  background-image:none;
}
#u13753_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13754_img {
  position:absolute;
  left:-2px;
  top:-1px;
  width:124px;
  height:124px;
}
#u13754 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u13755 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u13756 {
  position:absolute;
  left:28px;
  top:79px;
  width:65px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u13757 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u13758 {
  position:absolute;
  left:38px;
  top:27px;
}
#u13758_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:42px;
  height:29px;
  background-image:none;
}
#u13758_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13759 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13760_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:25px;
  height:6px;
}
#u13760 {
  position:absolute;
  left:0px;
  top:19px;
  width:22px;
  height:3px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u13761 {
  position:absolute;
  left:4px;
  top:-6px;
  width:14px;
  visibility:hidden;
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  transform:rotate(-45deg);
  word-wrap:break-word;
  transform-origin:7px 7.5px;
  -ms-transform-origin:7px 7.5px;
  -moz-transform-origin:7px 7.5px;
  -webkit-transform-origin:7px 7.5px;
}
#u13762_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:35px;
}
#u13762 {
  position:absolute;
  left:28px;
  top:-1px;
  width:3px;
  height:32px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u13763 {
  position:absolute;
  left:-9px;
  top:8px;
  width:21px;
  visibility:hidden;
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  transform:rotate(-45deg);
  word-wrap:break-word;
  transform-origin:10.5px 8px;
  -ms-transform-origin:10.5px 8px;
  -moz-transform-origin:10.5px 8px;
  -webkit-transform-origin:10.5px 8px;
}
#u13764_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u13764 {
  position:absolute;
  left:35px;
  top:18px;
  width:50px;
  height:50px;
}
#u13765 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13766 {
  position:absolute;
  left:566px;
  top:388px;
  visibility:hidden;
}
#u13766_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:169px;
  height:126px;
  background-image:none;
}
#u13766_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:20px;
}
#u13767 {
  position:absolute;
  left:0px;
  top:106px;
  width:169px;
  height:20px;
  color:#666666;
  text-align:center;
}
#u13768 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u13769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:93px;
}
#u13769 {
  position:absolute;
  left:39px;
  top:0px;
  width:90px;
  height:93px;
  opacity:0.5;
}
#u13770 {
  position:absolute;
  left:2px;
  top:38px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
