body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-470px;
  width:361px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:737px;
}
#u13090 {
  position:absolute;
  left:470px;
  top:46px;
  width:361px;
  height:737px;
}
#u13091 {
  position:absolute;
  left:2px;
  top:360px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:560px;
}
#u13092 {
  position:absolute;
  left:493px;
  top:136px;
  width:315px;
  height:560px;
}
#u13093 {
  position:absolute;
  left:2px;
  top:272px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:50px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13094 {
  position:absolute;
  left:493px;
  top:155px;
  width:315px;
  height:50px;
}
#u13095 {
  position:absolute;
  left:2px;
  top:17px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u13096 {
  position:absolute;
  left:516px;
  top:172px;
  width:33px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u13097 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u13098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u13098 {
  position:absolute;
  left:593px;
  top:168px;
  width:121px;
  height:27px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u13099 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u13100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u13100 {
  position:absolute;
  left:500px;
  top:176px;
  width:13px;
  height:13px;
}
#u13101 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:493px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13102 {
  position:absolute;
  left:493px;
  top:205px;
  width:315px;
  height:493px;
  color:#999999;
}
#u13103 {
  position:absolute;
  left:2px;
  top:238px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u13104 {
  position:absolute;
  left:767px;
  top:170px;
  width:33px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u13105 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u13106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u13106 {
  position:absolute;
  left:493px;
  top:226px;
  width:315px;
  height:54px;
  text-align:left;
}
#u13107 {
  position:absolute;
  left:2px;
  top:17px;
  width:311px;
  word-wrap:break-word;
}
#u13108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u13108 {
  position:absolute;
  left:493px;
  top:279px;
  width:315px;
  height:54px;
  text-align:left;
}
#u13109 {
  position:absolute;
  left:2px;
  top:17px;
  width:311px;
  word-wrap:break-word;
}
#u13110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u13110 {
  position:absolute;
  left:493px;
  top:332px;
  width:315px;
  height:54px;
  text-align:left;
}
#u13111 {
  position:absolute;
  left:2px;
  top:17px;
  width:311px;
  word-wrap:break-word;
}
#u13112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:137px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u13112 {
  position:absolute;
  left:493px;
  top:410px;
  width:315px;
  height:137px;
  text-align:left;
}
#u13113 {
  position:absolute;
  left:2px;
  top:60px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13114 {
  position:absolute;
  left:508px;
  top:391px;
  width:57px;
  height:20px;
}
#u13115 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u13116 {
  position:absolute;
  left:727px;
  top:524px;
  width:68px;
  height:16px;
  font-size:11px;
  color:#999999;
}
#u13117 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u13118 {
  position:absolute;
  left:564px;
  top:292px;
  width:200px;
  height:25px;
}
#u13118_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u13118_input {
  font-family:'应用字体';
}
#u13119 {
  position:absolute;
  left:564px;
  top:241px;
  width:200px;
  height:25px;
}
#u13119_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u13119_input {
  font-family:'应用字体';
}
#u13120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13120 {
  position:absolute;
  left:746px;
  top:351px;
  width:43px;
  height:20px;
  color:#999999;
}
#u13121 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u13122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:9px;
}
#u13122 {
  position:absolute;
  left:792px;
  top:354px;
  width:6px;
  height:9px;
}
#u13123 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13124 {
  position:absolute;
  left:505px;
  top:417px;
  width:200px;
  height:25px;
}
#u13124_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u13124_input {
  font-family:'应用字体';
}
