body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-470px;
  width:366px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:737px;
}
#u6997 {
  position:absolute;
  left:470px;
  top:46px;
  width:366px;
  height:737px;
}
#u6998 {
  position:absolute;
  left:2px;
  top:360px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:560px;
}
#u6999 {
  position:absolute;
  left:493px;
  top:136px;
  width:320px;
  height:560px;
}
#u7000 {
  position:absolute;
  left:2px;
  top:272px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u7001 {
  position:absolute;
  left:493px;
  top:155px;
  width:320px;
  height:50px;
  color:#666666;
}
#u7002 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u7003 {
  position:absolute;
  left:508px;
  top:170px;
  width:33px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u7004 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u7005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:87px;
}
#u7005 {
  position:absolute;
  left:470px;
  top:696px;
  width:366px;
  height:87px;
}
#u7006 {
  position:absolute;
  left:2px;
  top:36px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u7007 {
  position:absolute;
  left:767px;
  top:170px;
  width:33px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u7008 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u7009 {
  position:absolute;
  left:493px;
  top:205px;
  width:337px;
  height:491px;
  overflow:hidden;
}
#u7009_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:491px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u7009_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:800px;
}
#u7010 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:800px;
}
#u7011 {
  position:absolute;
  left:2px;
  top:392px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7012 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:117px;
}
#u7013 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:117px;
  text-align:left;
}
#u7014 {
  position:absolute;
  left:15px;
  top:50px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:2px;
}
#u7015 {
  position:absolute;
  left:105px;
  top:58px;
  width:213px;
  height:1px;
}
#u7016 {
  position:absolute;
  left:2px;
  top:-8px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u7017 {
  position:absolute;
  left:0px;
  top:140px;
  width:320px;
  height:60px;
  color:#6B6B6B;
  text-align:left;
}
#u7018 {
  position:absolute;
  left:15px;
  top:20px;
  width:303px;
  word-wrap:break-word;
}
#u7019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u7019 {
  position:absolute;
  left:0px;
  top:199px;
  width:320px;
  height:60px;
  color:#6B6B6B;
  text-align:left;
}
#u7020 {
  position:absolute;
  left:15px;
  top:20px;
  width:303px;
  word-wrap:break-word;
}
#u7021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u7021 {
  position:absolute;
  left:0px;
  top:257px;
  width:320px;
  height:60px;
  color:#6B6B6B;
  text-align:left;
}
#u7022 {
  position:absolute;
  left:15px;
  top:20px;
  width:303px;
  word-wrap:break-word;
}
#u7023 {
  position:absolute;
  left:101px;
  top:67px;
  width:203px;
  height:39px;
}
#u7023_input {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:39px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7023_input {
  font-family:'应用字体';
  color:#000000;
}
#u7023_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:209px;
  height:45px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u7024 {
  position:absolute;
  left:101px;
  top:151px;
  width:203px;
  height:39px;
}
#u7024_input {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:39px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#C9C9C9;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7024_input {
  font-family:'应用字体';
  color:#C9C9C9;
}
#u7024_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:209px;
  height:45px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u7025 {
  position:absolute;
  left:101px;
  top:209px;
  width:203px;
  height:39px;
}
#u7025_input {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:39px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#C9C9C9;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7025_input {
  font-family:'应用字体';
  color:#C9C9C9;
}
#u7025_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:209px;
  height:45px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u7026 {
  position:absolute;
  left:101px;
  top:269px;
  width:203px;
  height:39px;
}
#u7026_input {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:39px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#C9C9C9;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7026_input {
  font-family:'应用字体';
  color:#C9C9C9;
}
#u7026_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:209px;
  height:45px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u7027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:70px;
}
#u7027 {
  position:absolute;
  left:15px;
  top:24px;
  width:69px;
  height:70px;
  opacity:0.5;
}
#u7028 {
  position:absolute;
  left:2px;
  top:27px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u7029 {
  position:absolute;
  left:0px;
  top:334px;
  width:320px;
  height:60px;
  font-size:16px;
}
#u7029_img.mouseDown {
}
#u7029.mouseDown {
}
#u7030 {
  position:absolute;
  left:2px;
  top:20px;
  width:316px;
  word-wrap:break-word;
}
#u7031 {
  position:absolute;
  left:0px;
  top:334px;
  width:319px;
  height:413px;
  overflow:hidden;
  visibility:hidden;
}
#u7031_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:413px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7031_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:60px;
}
#u7032 {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:60px;
  text-align:left;
}
#u7033 {
  position:absolute;
  left:15px;
  top:20px;
  width:300px;
  word-wrap:break-word;
}
#u7034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:75px;
}
#u7034 {
  position:absolute;
  left:0px;
  top:60px;
  width:317px;
  height:75px;
  text-align:left;
}
#u7035 {
  position:absolute;
  left:15px;
  top:28px;
  width:300px;
  word-wrap:break-word;
}
#u7036 {
  position:absolute;
  left:103px;
  top:11px;
  width:200px;
  height:39px;
}
#u7036_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:39px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7036_input {
  font-family:'应用字体';
  color:#000000;
}
#u7036_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:206px;
  height:45px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u7037 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u7038 {
  position:absolute;
  left:103px;
  top:73px;
  width:50px;
  height:50px;
}
#u7039 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u7040 {
  position:absolute;
  left:115px;
  top:85px;
  width:26px;
  height:26px;
}
#u7041 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:60px;
}
#u7042 {
  position:absolute;
  left:0px;
  top:157px;
  width:317px;
  height:60px;
  text-align:left;
}
#u7043 {
  position:absolute;
  left:15px;
  top:20px;
  width:300px;
  word-wrap:break-word;
}
#u7044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:60px;
}
#u7044 {
  position:absolute;
  left:0px;
  top:215px;
  width:317px;
  height:60px;
  text-align:left;
}
#u7045 {
  position:absolute;
  left:15px;
  top:20px;
  width:300px;
  word-wrap:break-word;
}
#u7046 {
  position:absolute;
  left:103px;
  top:167px;
  width:200px;
  height:39px;
}
#u7046_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:39px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7046_input {
  font-family:'应用字体';
  color:#000000;
}
#u7046_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:206px;
  height:45px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u7047 {
  position:absolute;
  left:103px;
  top:227px;
  width:200px;
  height:39px;
}
#u7047_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:39px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7047_input {
  font-family:'应用字体';
  color:#000000;
}
#u7047_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:206px;
  height:45px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u7048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:60px;
}
#u7048 {
  position:absolute;
  left:0px;
  top:295px;
  width:317px;
  height:60px;
  text-align:left;
}
#u7049 {
  position:absolute;
  left:15px;
  top:20px;
  width:300px;
  word-wrap:break-word;
}
#u7050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:60px;
}
#u7050 {
  position:absolute;
  left:0px;
  top:353px;
  width:317px;
  height:60px;
  text-align:left;
}
#u7051 {
  position:absolute;
  left:15px;
  top:20px;
  width:300px;
  word-wrap:break-word;
}
#u7052 {
  position:absolute;
  left:103px;
  top:305px;
  width:200px;
  height:39px;
}
#u7052_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:39px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7052_input {
  font-family:'应用字体';
  color:#000000;
}
#u7052_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:206px;
  height:45px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u7053 {
  position:absolute;
  left:103px;
  top:365px;
  width:200px;
  height:39px;
}
#u7053_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:39px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7053_input {
  font-family:'应用字体';
  color:#000000;
}
#u7053_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:206px;
  height:45px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u7054 {
  position:absolute;
  left:102px;
  top:10px;
  width:160px;
  height:39px;
}
#u7054_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:39px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7054_input {
  font-family:'应用字体';
  color:#000000;
}
#u7054_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:166px;
  height:45px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u7055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
}
#u7055 {
  position:absolute;
  left:1px;
  top:0px;
  width:317px;
  height:50px;
  text-align:left;
}
#u7056 {
  position:absolute;
  left:15px;
  top:15px;
  width:300px;
  word-wrap:break-word;
}
#u7057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u7057 {
  position:absolute;
  left:272px;
  top:14px;
  width:32px;
  height:32px;
  opacity:0.5;
}
#u7058 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:499px;
}
#u7059 {
  position:absolute;
  left:813px;
  top:203px;
  width:23px;
  height:499px;
}
#u7060 {
  position:absolute;
  left:2px;
  top:242px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:24px;
}
#u7061 {
  position:absolute;
  left:553px;
  top:160px;
  width:200px;
  height:24px;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u7062 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u7063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:17px;
}
#u7063 {
  position:absolute;
  left:553px;
  top:184px;
  width:200px;
  height:17px;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u7064 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
