body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-470px;
  width:361px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u13771_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:737px;
}
#u13771 {
  position:absolute;
  left:470px;
  top:46px;
  width:361px;
  height:737px;
}
#u13772 {
  position:absolute;
  left:2px;
  top:360px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13773_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:560px;
}
#u13773 {
  position:absolute;
  left:492px;
  top:136px;
  width:316px;
  height:560px;
}
#u13774 {
  position:absolute;
  left:2px;
  top:272px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13775_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:543px;
}
#u13775 {
  position:absolute;
  left:492px;
  top:155px;
  width:316px;
  height:543px;
}
#u13776 {
  position:absolute;
  left:2px;
  top:264px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13777 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:464px;
}
#u13778 {
  position:absolute;
  left:808px;
  top:155px;
  width:23px;
  height:464px;
}
#u13779 {
  position:absolute;
  left:2px;
  top:224px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:77px;
}
#u13780 {
  position:absolute;
  left:808px;
  top:619px;
  width:23px;
  height:77px;
}
#u13781 {
  position:absolute;
  left:2px;
  top:30px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13782_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:2px;
}
#u13782 {
  position:absolute;
  left:492px;
  top:277px;
  width:315px;
  height:1px;
}
#u13783 {
  position:absolute;
  left:2px;
  top:-8px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13784_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:2px;
}
#u13784 {
  position:absolute;
  left:493px;
  top:334px;
  width:314px;
  height:1px;
}
#u13785 {
  position:absolute;
  left:2px;
  top:-8px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13786_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:50px;
}
#u13786 {
  position:absolute;
  left:492px;
  top:155px;
  width:316px;
  height:50px;
  color:#666666;
}
#u13787 {
  position:absolute;
  left:2px;
  top:17px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13788_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u13788 {
  position:absolute;
  left:633px;
  top:170px;
  width:33px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u13789 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u13790_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:56px;
}
#u13790 {
  position:absolute;
  left:492px;
  top:278px;
  width:315px;
  height:56px;
  font-size:16px;
  text-align:left;
}
#u13791 {
  position:absolute;
  left:2px;
  top:18px;
  width:311px;
  word-wrap:break-word;
}
#u13792 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13793 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13794_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:2px;
}
#u13794 {
  position:absolute;
  left:781px;
  top:301px;
  width:13px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u13795 {
  position:absolute;
  left:4px;
  top:-8px;
  width:6px;
  visibility:hidden;
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  transform:rotate(-45deg);
  word-wrap:break-word;
  transform-origin:2.5px 8.5px;
  -ms-transform-origin:2.5px 8.5px;
  -moz-transform-origin:2.5px 8.5px;
  -webkit-transform-origin:2.5px 8.5px;
}
#u13796_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:14px;
}
#u13796 {
  position:absolute;
  left:788px;
  top:304px;
  width:1px;
  height:13px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u13797 {
  position:absolute;
  left:-2px;
  top:-2px;
  width:6px;
  visibility:hidden;
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  transform:rotate(-45deg);
  word-wrap:break-word;
  transform-origin:2.5px 8.5px;
  -ms-transform-origin:2.5px 8.5px;
  -moz-transform-origin:2.5px 8.5px;
  -webkit-transform-origin:2.5px 8.5px;
}
#u13798_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:21px;
}
#u13798 {
  position:absolute;
  left:738px;
  top:297px;
  width:44px;
  height:21px;
  font-size:16px;
  color:#666666;
}
#u13799 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u13800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:2px;
}
#u13800 {
  position:absolute;
  left:492px;
  top:211px;
  width:315px;
  height:1px;
}
#u13801 {
  position:absolute;
  left:2px;
  top:-8px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13802_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:2px;
}
#u13802 {
  position:absolute;
  left:493px;
  top:268px;
  width:314px;
  height:1px;
}
#u13803 {
  position:absolute;
  left:2px;
  top:-8px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:56px;
}
#u13804 {
  position:absolute;
  left:492px;
  top:212px;
  width:315px;
  height:56px;
  font-size:16px;
  text-align:left;
}
#u13805 {
  position:absolute;
  left:2px;
  top:18px;
  width:311px;
  word-wrap:break-word;
}
#u13806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:21px;
}
#u13806 {
  position:absolute;
  left:508px;
  top:170px;
  width:17px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u13807 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u13808 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:562px;
}
#u13809 {
  position:absolute;
  left:491px;
  top:136px;
  width:317px;
  height:562px;
}
#u13810 {
  position:absolute;
  left:2px;
  top:273px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13811 {
  position:absolute;
  left:519px;
  top:368px;
  visibility:hidden;
}
#u13811_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:262px;
  height:119px;
  background-image:none;
}
#u13811_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:70px;
}
#u13812 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:70px;
}
#u13813 {
  position:absolute;
  left:2px;
  top:27px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
}
#u13814 {
  position:absolute;
  left:74px;
  top:25px;
  width:113px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u13815 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u13816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
}
#u13816 {
  position:absolute;
  left:0px;
  top:69px;
  width:130px;
  height:50px;
  font-size:18px;
}
#u13817 {
  position:absolute;
  left:2px;
  top:13px;
  width:126px;
  word-wrap:break-word;
}
#u13818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:50px;
}
#u13818 {
  position:absolute;
  left:129px;
  top:69px;
  width:133px;
  height:50px;
  font-size:18px;
}
#u13819 {
  position:absolute;
  left:2px;
  top:13px;
  width:129px;
  word-wrap:break-word;
}
#u13820 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:562px;
}
#u13821 {
  position:absolute;
  left:491px;
  top:136px;
  width:317px;
  height:562px;
}
#u13822 {
  position:absolute;
  left:2px;
  top:273px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13823 {
  position:absolute;
  left:519px;
  top:368px;
  visibility:hidden;
}
#u13823_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:262px;
  height:119px;
  background-image:none;
}
#u13823_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:70px;
}
#u13824 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:70px;
}
#u13825 {
  position:absolute;
  left:2px;
  top:27px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:40px;
}
#u13826 {
  position:absolute;
  left:24px;
  top:15px;
  width:213px;
  height:40px;
  text-align:center;
}
#u13827 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  word-wrap:break-word;
}
#u13828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:50px;
}
#u13828 {
  position:absolute;
  left:0px;
  top:69px;
  width:262px;
  height:50px;
  font-size:18px;
}
#u13829 {
  position:absolute;
  left:2px;
  top:13px;
  width:258px;
  word-wrap:break-word;
}
#u13830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u13830 {
  position:absolute;
  left:752px;
  top:220px;
  width:40px;
  height:40px;
}
#u13831 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u13832 {
  position:absolute;
  left:752px;
  top:220px;
  width:40px;
  height:40px;
}
#u13833 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
