body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-470px;
  width:361px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:737px;
}
#u3336 {
  position:absolute;
  left:470px;
  top:46px;
  width:361px;
  height:737px;
}
#u3337 {
  position:absolute;
  left:2px;
  top:360px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:560px;
}
#u3338 {
  position:absolute;
  left:492px;
  top:136px;
  width:316px;
  height:560px;
}
#u3339 {
  position:absolute;
  left:2px;
  top:272px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:50px;
}
#u3340 {
  position:absolute;
  left:492px;
  top:155px;
  width:316px;
  height:50px;
  color:#666666;
}
#u3341 {
  position:absolute;
  left:2px;
  top:17px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:27px;
}
#u3342 {
  position:absolute;
  left:620px;
  top:166px;
  width:61px;
  height:27px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u3343 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u3344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:495px;
}
#u3344 {
  position:absolute;
  left:493px;
  top:203px;
  width:315px;
  height:495px;
}
#u3345 {
  position:absolute;
  left:2px;
  top:240px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u3346 {
  position:absolute;
  left:508px;
  top:170px;
  width:33px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u3347 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u3348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:50px;
}
#u3348 {
  position:absolute;
  left:492px;
  top:648px;
  width:316px;
  height:50px;
}
#u3349 {
  position:absolute;
  left:2px;
  top:17px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:93px;
}
#u3350 {
  position:absolute;
  left:564px;
  top:222px;
  width:200px;
  height:93px;
}
#u3351 {
  position:absolute;
  left:2px;
  top:38px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:27px;
}
#u3352 {
  position:absolute;
  left:577px;
  top:233px;
  width:183px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  line-height:18px;
}
#u3353 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u3354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3354 {
  position:absolute;
  left:577px;
  top:260px;
  width:40px;
  height:40px;
}
#u3355 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u3356 {
  position:absolute;
  left:508px;
  top:222px;
  width:43px;
  height:43px;
}
#u3357 {
  position:absolute;
  left:2px;
  top:14px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:40px;
}
#u3358 {
  position:absolute;
  left:627px;
  top:262px;
  width:123px;
  height:40px;
  font-size:12px;
  color:#999999;
}
#u3359 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u3360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:93px;
}
#u3360 {
  position:absolute;
  left:564px;
  top:222px;
  width:200px;
  height:93px;
}
#u3361 {
  position:absolute;
  left:2px;
  top:38px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u3362 {
  position:absolute;
  left:773px;
  top:168px;
  width:23px;
  height:23px;
}
#u3363 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
