body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-470px;
  width:361px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u13639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:737px;
}
#u13639 {
  position:absolute;
  left:470px;
  top:46px;
  width:361px;
  height:737px;
}
#u13640 {
  position:absolute;
  left:2px;
  top:360px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:560px;
}
#u13641 {
  position:absolute;
  left:492px;
  top:136px;
  width:316px;
  height:560px;
}
#u13642 {
  position:absolute;
  left:2px;
  top:272px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:50px;
}
#u13643 {
  position:absolute;
  left:492px;
  top:155px;
  width:316px;
  height:50px;
  color:#666666;
}
#u13644 {
  position:absolute;
  left:2px;
  top:17px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u13645 {
  position:absolute;
  left:508px;
  top:170px;
  width:33px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u13646 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u13647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
}
#u13647 {
  position:absolute;
  left:610px;
  top:166px;
  width:81px;
  height:27px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u13648 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u13649 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:464px;
}
#u13650 {
  position:absolute;
  left:808px;
  top:155px;
  width:23px;
  height:464px;
}
#u13651 {
  position:absolute;
  left:2px;
  top:224px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:80px;
}
#u13652 {
  position:absolute;
  left:808px;
  top:619px;
  width:23px;
  height:80px;
}
#u13653 {
  position:absolute;
  left:2px;
  top:32px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:493px;
}
#u13654 {
  position:absolute;
  left:492px;
  top:205px;
  width:316px;
  height:493px;
}
#u13655 {
  position:absolute;
  left:2px;
  top:238px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:17px;
}
#u13656 {
  position:absolute;
  left:527px;
  top:399px;
  width:193px;
  height:17px;
  font-size:12px;
  color:#666666;
}
#u13657 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u13658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:50px;
}
#u13658 {
  position:absolute;
  left:508px;
  top:440px;
  width:284px;
  height:50px;
  font-size:16px;
  color:#FFFFFF;
}
#u13659 {
  position:absolute;
  left:2px;
  top:14px;
  width:280px;
  word-wrap:break-word;
}
#u13658_ann {
  position:absolute;
  left:785px;
  top:436px;
  width:1px;
  height:1px;
}
#u13660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:21px;
}
#u13660 {
  position:absolute;
  left:508px;
  top:366px;
  width:209px;
  height:21px;
  font-size:16px;
  color:#000000;
}
#u13661 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u13662 {
  position:absolute;
  left:508px;
  top:400px;
  width:14px;
  height:16px;
}
#u13663 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13662_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:145px;
}
#u13664 {
  position:absolute;
  left:492px;
  top:205px;
  width:316px;
  height:145px;
}
#u13665 {
  position:absolute;
  left:2px;
  top:64px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:128px;
}
#u13666 {
  position:absolute;
  left:581px;
  top:214px;
  width:139px;
  height:128px;
}
#u13667 {
  position:absolute;
  left:2px;
  top:56px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13668 {
  position:absolute;
  left:492px;
  top:155px;
}
#u13668_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:316px;
  height:547px;
  background-image:none;
}
#u13668_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:541px;
}
#u13669 {
  position:absolute;
  left:0px;
  top:6px;
  width:316px;
  height:541px;
}
#u13670 {
  position:absolute;
  left:2px;
  top:262px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:546px;
}
#u13671 {
  position:absolute;
  left:307px;
  top:0px;
  width:9px;
  height:546px;
}
#u13672 {
  position:absolute;
  left:2px;
  top:265px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
